In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

from tqdm import tqdm
tqdm.pandas()

import numpy as np

In [2]:
survey = pd.read_excel("RisikoAtlas_EuropeanSurvey.xlsx", sheet_name = 0, skiprows = 1)

In [3]:
answerKey = pd.read_excel("RisikoAtlas_EuropeanSurvey.xlsx", sheet_name = 1)

In [4]:
survey

,responseid,status,country,leg_conditions_riskp,q0,s1,s2_1,age_rec,s5uk,s4de,s5de,s4it,s5it,s4es,s5es,s5fr,s5pl,s5se,isced,s7,s8,English_occupation,q5_1,q5_2,q5_5,q5_6,q5_9,q8_2_1,q8_2_2,q8_2_3,q8_2_4,q8_2_5,q8_3,q8_4,q8_5berlin_1,q8_5london_1,q8_5paris_1,q8_6,q8_7,q9_1_1,q9_2_1,q9_3,q10_1_1,q10_2_1,q10_3_1,q10_4,q11_1,q12,q13_1,q13_2,q13_3,q13_4,q13_5,q13_4_other,English_otherinsur,q14_1,q14_na,q15_1,q16,q17,weight,reflectivespending,higherincomegroup,financialproductclear,ignore_dist6,Understanding1,Understanding2,Understanding3,Understanding4,Understanding5,graphunderstanding1,graphunderstanding2,graphunderstanding3,Calculating1,Calculating2,Calculating3,Calculating4,Certainty2,Certainty3,Certainty4,Certainty5,Uncertainty1,Uncertainty2,highriskliterate,lowriskliterate,mediumriskliterate,rl_sumscore,incomelevels,emergencyfund,isced_recoded
0,2624,complete,10,2,1,1,65,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,Vilasantar,capataz,NaN,4,2,3,4,4,1,1,1,2,2,4,1,1,1,2,2,4,25,60,4,80,1,10.0,2,2,2,1,1,1,0,0,NaN,NaN,30000.0,0,6,3,1,0.503211,1,0.0,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,2.0,1,1
1,296,complete,10,1,1,2,66,4,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,2,Alcala de Henares,Pensionista,NaN,4,3,1,5,4,1,1,1,2,2,4,4,1,1,2,3,2,25,20,3,650,10,0.1,3,2,2,0,1,1,1,0,auto,car,15000.0,0,2,1,3,0.503211,0,0.0,1,1,0,1,0,0,0,1,1,1,0,1,1,0,0,0,0,1,0,1,0,1,0,4,2.0,1,1
2,2666,complete,10,1,1,1,61,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,LA CORUÑA,JUBILADO,NaN,3,3,3,5,1,2,2,2,1,2,1,4,2,1,2,4,4,50,66,4,500,10,10.0,2,0,2,1,1,1,0,0,NaN,NaN,24000.0,0,0,1,4,0.503211,0,0.0,1,1,1,1,0,0,1,0,0,0,1,1,0,0,1,1,1,0,1,1,0,1,0,7,2.0,0,1
3,2891,complete,10,2,1,2,60,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,valencia,visitador medico,NaN,5,3,2,5,5,1,1,1,1,2,2,4,2,1,1,1,1,25,20,3,500,10,0.1,3,0,3,1,1,0,0,0,NaN,NaN,200000.0,0,1,3,3,0.503211,0,0.0,1,1,1,1,1,1,0,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,1,8,3.0,1,1
4,2633,complete,10,3,1,1,74,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,Barcelona,Jubilada,NaN,5,5,5,5,2,1,1,1,1,2,3,2,2,2,2,2,2,25,60,1,60,10,1.0,3,1,2,1,0,1,1,0,Coche,car,200.0,0,1,2,1,0.503211,1,0.0,1,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,2,2.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901,1764,complete,10,2,1,2,32,2,NaN,NaN,NaN,NaN,NaN,2.0,6.0,NaN,NaN,NaN,3,AVILA,Parado,NaN,3,3,3,3,5,1,1,1,1,1,2,2,2,1,1,4,4,2,36,4,12,34,34.0,3,4,7,0,0,0,0,1,NaN,NaN,NaN,1,5,1,1,1.345079,1,NaN,0,0,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,3,NaN,1,0
3902,5341,complete,10,1,1,1,33,2,NaN,NaN,NaN,NaN,NaN,2.0,99.0,NaN,NaN,NaN,3,tornavacas,desempleada,NaN,3,3,3,3,3,1,1,1,1,2,3,2,1,2,2,3,1,25,10,3,1000,1,1.0,3,1,1,0,1,1,0,0,NaN,NaN,NaN,1,2,2,3,1.345079,0,0.0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1.0,1,0
3903,1351,complete,10,1,1,1,34,2,NaN,NaN,NaN,NaN,NaN,2.0,5.0,NaN,NaN,NaN,3,palma del rio,desempleada,NaN,5,5,3,5,1,2,1,1,2,1,4,4,1,1,2,4,1,100,20,1,500,100,100.0,3,2,1,0,0,0,0,1,NaN,NaN,NaN,1,5,4,2,1.345079,1,0.0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,1,0,3,1.0,0,0
3904,6923,complete,10,2,1,2,30,2,NaN,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,3,Hospitalet,Mozo almacen,NaN,4,2,3,5,3,1,1,1,2,2,2,3,1,1,1,3,1,90,60,3,653,1,2.0,3,0,1,1,0,0,0,0,NaN,NaN,700.0,0,3,3,4,1.345079,0,0.0,1,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,3,1.0,0,0
3905,6776,complete,10,1,1,2,35,2,NaN,NaN,NaN,NaN,NaN,2.0,5.0,NaN,NaN,NaN,3,SEVILLA,DESEMPLEADO,NaN,1,1,1,1,1,2,2,2,2,2,4,1,1,2,1,4,4,50,60,1,500,1,1.0,2,0,1,0,0,1,0,0,NaN,NaN,NaN,1,10,1,4,1.345079,0,0.0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,4,1.0,0,0

In [5]:
answerKey

,q8_2_1,q8_2_2,q8_2_3,q8_2_4,q8_2_5,q8_3,q8_4,q8_5berlin_1,q8_5london_1,q8_5paris_1,q8_6,q8_7,q9_1_1,q9_2_1,q9_3,q10_1_1,q10_2_1,q10_3_1,q10_4
0,2.0,2.0,2.0,2.0,2.0,1.0,4.0,2.0,1.0,1.0,1.0,4.0,25.0,20.0,3.0,500.0,10.0,0.1,1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,",1",NaN

In [6]:
scoreColumns = ["certainty1", "certainty2", "certainty3", "certainty4", "certainty5", "uncertainty1", "uncertainty2", "numeracy1", "numeracy2", "numeracy3", "numeracy4", "numeracy5", "graph1", "graph2", "graph3", "riskcalculation1", "riskcalculation2", "riskcalculation3", "riskcalculation4"]
survey[scoreColumns] = 0

In [7]:
answerKey.columns.tolist() + ["responseid"]

['q8_2_1',
 'q8_2_2',
 'q8_2_3',
 'q8_2_4',
 'q8_2_5',
 'q8_3',
 'q8_4',
 'q8_5berlin_1',
 'q8_5london_1',
 'q8_5paris_1',
 'q8_6',
 'q8_7',
 'q9_1_1',
 'q9_2_1',
 'q9_3',
 'q10_1_1',
 'q10_2_1',
 'q10_3_1',
 'q10_4',
 'responseid']

In [8]:
surveyFacet = survey[["responseid"]+answerKey.columns.tolist()].copy()
surveyFacet

,responseid,q8_2_1,q8_2_2,q8_2_3,q8_2_4,q8_2_5,q8_3,q8_4,q8_5berlin_1,q8_5london_1,q8_5paris_1,q8_6,q8_7,q9_1_1,q9_2_1,q9_3,q10_1_1,q10_2_1,q10_3_1,q10_4
0,2624,1,1,1,2,2,4,1,1,1,2,2,4,25,60,4,80,1,10.0,2
1,296,1,1,1,2,2,4,4,1,1,2,3,2,25,20,3,650,10,0.1,3
2,2666,2,2,2,1,2,1,4,2,1,2,4,4,50,66,4,500,10,10.0,2
3,2891,1,1,1,1,2,2,4,2,1,1,1,1,25,20,3,500,10,0.1,3
4,2633,1,1,1,1,2,3,2,2,2,2,2,2,25,60,1,60,10,1.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901,1764,1,1,1,1,1,2,2,2,1,1,4,4,2,36,4,12,34,34.0,3
3902,5341,1,1,1,1,2,3,2,1,2,2,3,1,25,10,3,1000,1,1.0,3
3903,1351,2,1,1,2,1,4,4,1,1,2,4,1,100,20,1,500,100,100.0,3
3904,6923,1,1,1,2,2,2,3,1,1,1,3,1,90,60,3,653,1,2.0,3
3905,6776,2,2,2,2,2,4,1,1,2,1,4,4,50,60,1,500,1,1.0,2

In [9]:
# Assigning 0 scores
surveyFacet.loc[:, scoreColumns] = 0
surveyFacet = surveyFacet.copy()
surveyFacet

,responseid,q8_2_1,q8_2_2,q8_2_3,q8_2_4,q8_2_5,q8_3,q8_4,q8_5berlin_1,q8_5london_1,q8_5paris_1,q8_6,q8_7,q9_1_1,q9_2_1,q9_3,q10_1_1,q10_2_1,q10_3_1,q10_4,certainty1,certainty2,certainty3,certainty4,certainty5,uncertainty1,uncertainty2,numeracy1,numeracy2,numeracy3,numeracy4,numeracy5,graph1,graph2,graph3,riskcalculation1,riskcalculation2,riskcalculation3,riskcalculation4
0,2624,1,1,1,2,2,4,1,1,1,2,2,4,25,60,4,80,1,10.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,296,1,1,1,2,2,4,4,1,1,2,3,2,25,20,3,650,10,0.1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2666,2,2,2,1,2,1,4,2,1,2,4,4,50,66,4,500,10,10.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2891,1,1,1,1,2,2,4,2,1,1,1,1,25,20,3,500,10,0.1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2633,1,1,1,1,2,3,2,2,2,2,2,2,25,60,1,60,10,1.0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901,1764,1,1,1,1,1,2,2,2,1,1,4,4,2,36,4,12,34,34.0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3902,5341,1,1,1,1,2,3,2,1,2,2,3,1,25,10,3,1000,1,1.0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3903,1351,2,1,1,2,1,4,4,1,1,2,4,1,100,20,1,500,100,100.0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3904,6923,1,1,1,2,2,2,3,1,1,1,3,1,90,60,3,653,1,2.0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3905,6776,2,2,2,2,2,4,1,1,2,1,4,4,50,60,1,500,1,1.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
# Assigning scores

def scoring1(surveyFacet):
    surveyFacet.loc[ surveyFacet["q8_2_1"] == 2, "certainty1"] = 1
    surveyFacet.loc[ surveyFacet["q8_2_2"] == 2, "certainty2"] = 1
    surveyFacet.loc[ surveyFacet["q8_2_3"] == 2, "certainty3"] = 1
    surveyFacet.loc[ surveyFacet["q8_2_4"] == 2, "certainty4"] = 1
    surveyFacet.loc[ surveyFacet["q8_2_5"] == 2, "certainty5"] = 1

    surveyFacet.loc[ surveyFacet["q8_3"] == 1, "uncertainty1"] = 1
    surveyFacet.loc[ surveyFacet["q8_4"] == 4, "uncertainty2"] = 1

    surveyFacet.loc[ surveyFacet["q8_5berlin_1"] == 2, "numeracy1"] = 1
    surveyFacet.loc[ surveyFacet["q8_5london_1"] == 1, "numeracy2"] = 1
    surveyFacet.loc[ surveyFacet["q8_5paris_1"] == 1, "numeracy3"] = 1
    surveyFacet.loc[ surveyFacet["q8_6"] == 1, "numeracy4"] = 1
    surveyFacet.loc[ surveyFacet["q8_7"] == 4, "numeracy5"] = 1

    surveyFacet.loc[ surveyFacet["q9_1_1"] == 25, "graph1"] = 1
    surveyFacet.loc[ surveyFacet["q9_2_1"] == 20, "graph2"] = 1
    surveyFacet.loc[ surveyFacet["q9_3"] == 3, "graph3"] = 1

    surveyFacet.loc[ surveyFacet["q10_1_1"] == 500, "riskcalculation1"] = 1
    surveyFacet.loc[ surveyFacet["q10_2_1"] == 10, "riskcalculation2"] = 1
    surveyFacet.loc[ (surveyFacet["q10_3_1"] == 0.1) | (surveyFacet["q10_3_1"] == ".1") | (surveyFacet["q10_3_1"] == ",1") , "riskcalculation3"] = 1
    surveyFacet.loc[ surveyFacet["q10_4"] == 1, "riskcalculation4"] = 1

    # Assigning total scores
    surveyFacet["Certainty score_5"] = surveyFacet["certainty1"] + surveyFacet["certainty2"] + surveyFacet["certainty3"] + surveyFacet["certainty4"] + surveyFacet["certainty5"]
    surveyFacet["Uncertainty score_5"] = surveyFacet["uncertainty1"] + surveyFacet["uncertainty2"]

    surveyFacet["Number Comprehension score_5"] = surveyFacet["numeracy1"] + surveyFacet["numeracy2"] + surveyFacet["numeracy3"] + surveyFacet["numeracy4"] + surveyFacet["numeracy5"]
    surveyFacet["Graph Comprehension score_5"] = surveyFacet["graph1"] + surveyFacet["graph2"] + surveyFacet["graph3"]

    surveyFacet["Calculation score_4"] = surveyFacet["riskcalculation1"] + surveyFacet["riskcalculation2"] + surveyFacet["riskcalculation3"] + surveyFacet["riskcalculation4"]

    surveyFacet["Total Score_19"] = surveyFacet["Certainty score_5"] + surveyFacet["Uncertainty score_5"] + surveyFacet["Number Comprehension score_5"] + surveyFacet["Graph Comprehension score_5"] + surveyFacet["Calculation score_4"]

    return surveyFacet

In [11]:
surveyFacetTOTAL = surveyFacet.groupby(["responseid"]).progress_apply(scoring1)

100%|██████████████████████████████████████████████████████████████████████████████| 3906/3906 [00:44<00:00, 88.62it/s]

In [12]:
surveyFacetTOTAL

,,responseid,q8_2_1,q8_2_2,q8_2_3,q8_2_4,q8_2_5,q8_3,q8_4,q8_5berlin_1,q8_5london_1,q8_5paris_1,q8_6,q8_7,q9_1_1,q9_2_1,q9_3,q10_1_1,q10_2_1,q10_3_1,q10_4,certainty1,certainty2,certainty3,certainty4,certainty5,uncertainty1,uncertainty2,numeracy1,numeracy2,numeracy3,numeracy4,numeracy5,graph1,graph2,graph3,riskcalculation1,riskcalculation2,riskcalculation3,riskcalculation4,Certainty score_5,Uncertainty score_5,Number Comprehension score_5,Graph Comprehension score_5,Calculation score_4,Total Score_19
responseid,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2833,1,2,2,2,2,2,1,4,1,1,1,1,3,25,20,3,500,10,0.10,1,1,1,1,1,1,1,1,0,1,1,1,0,1,1,1,1,1,1,1,5,2,3,3,4,17
2,779,2,1,1,1,1,2,2,4,2,1,1,1,1,50,20,3,500,10,0.10,1,0,0,0,0,1,0,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,4,2,4,12
5,3212,5,2,2,1,2,2,2,4,1,1,1,2,2,20,60,3,500,100,1.00,3,1,1,0,1,1,0,1,0,1,1,0,0,0,0,1,1,0,0,0,4,1,2,1,1,9
8,2497,8,1,1,1,1,2,3,4,2,1,1,2,2,25,20,3,400,10,0.10,2,0,0,0,0,1,0,1,1,1,1,0,0,1,1,1,0,1,1,0,1,1,3,3,2,10
9,3209,9,2,1,1,2,2,4,4,2,1,1,1,4,25,20,3,500,10,0.10,3,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,0,3,1,5,3,3,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15636,3258,15636,1,1,1,1,2,3,2,1,2,1,1,1,40,60,4,500,200,10.00,2,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,0,1,0,2,0,1,4
15717,3803,15717,1,2,1,1,2,4,4,2,1,1,3,2,25,20,3,500,10,0.10,2,0,1,0,0,1,0,1,1,1,1,0,0,1,1,1,1,1,1,0,2,1,3,3,3,12
15788,3610,15788,1,1,1,2,2,3,4,2,1,1,4,4,25,10,3,450,50,0.01,2,0,0,0,1,1,0,1,1,1,1,0,1,1,0,1,0,0,0,0,2,1,4,2,0,9
15843,3681,15843,1,1,1,1,2,2,4,2,1,1,2,3,25,20,3,500,1,0.10,3,0,0,0,0,1,0,1,1,1,1,0,0,1,1,1,1,0,1,0,1,1,3,3,2,10
15861,3899,15861,1,1,1,2,2,2,4,2,1,2,4,4,30,20,4,600,1,1.00,3,0,0,0,1,1,0,1,1,1,0,0,1,0,1,0,0,0,0,0,2,1,3,1,0,7

In [13]:
surveyFacetTOTAL.to_csv("5 country_Facet Scores.csv")

In [14]:
survey.loc[:, scoreColumns] = 0
survey = survey.copy()
survey

,responseid,status,country,leg_conditions_riskp,q0,s1,s2_1,age_rec,s5uk,s4de,s5de,s4it,s5it,s4es,s5es,s5fr,s5pl,s5se,isced,s7,s8,English_occupation,q5_1,q5_2,q5_5,q5_6,q5_9,q8_2_1,q8_2_2,q8_2_3,q8_2_4,q8_2_5,q8_3,q8_4,q8_5berlin_1,q8_5london_1,q8_5paris_1,q8_6,q8_7,q9_1_1,q9_2_1,q9_3,q10_1_1,q10_2_1,q10_3_1,q10_4,q11_1,q12,q13_1,q13_2,q13_3,q13_4,q13_5,q13_4_other,English_otherinsur,q14_1,q14_na,q15_1,q16,q17,weight,reflectivespending,higherincomegroup,financialproductclear,ignore_dist6,Understanding1,Understanding2,Understanding3,Understanding4,Understanding5,graphunderstanding1,graphunderstanding2,graphunderstanding3,Calculating1,Calculating2,Calculating3,Calculating4,Certainty2,Certainty3,Certainty4,Certainty5,Uncertainty1,Uncertainty2,highriskliterate,lowriskliterate,mediumriskliterate,rl_sumscore,incomelevels,emergencyfund,isced_recoded,certainty1,certainty2,certainty3,certainty4,certainty5,uncertainty1,uncertainty2,numeracy1,numeracy2,numeracy3,numeracy4,numeracy5,graph1,graph2,graph3,riskcalculation1,riskcalculation2,riskcalculation3,riskcalculation4
0,2624,complete,10,2,1,1,65,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,Vilasantar,capataz,NaN,4,2,3,4,4,1,1,1,2,2,4,1,1,1,2,2,4,25,60,4,80,1,10.0,2,2,2,1,1,1,0,0,NaN,NaN,30000.0,0,6,3,1,0.503211,1,0.0,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,2.0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,296,complete,10,1,1,2,66,4,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,2,Alcala de Henares,Pensionista,NaN,4,3,1,5,4,1,1,1,2,2,4,4,1,1,2,3,2,25,20,3,650,10,0.1,3,2,2,0,1,1,1,0,auto,car,15000.0,0,2,1,3,0.503211,0,0.0,1,1,0,1,0,0,0,1,1,1,0,1,1,0,0,0,0,1,0,1,0,1,0,4,2.0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2666,complete,10,1,1,1,61,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,LA CORUÑA,JUBILADO,NaN,3,3,3,5,1,2,2,2,1,2,1,4,2,1,2,4,4,50,66,4,500,10,10.0,2,0,2,1,1,1,0,0,NaN,NaN,24000.0,0,0,1,4,0.503211,0,0.0,1,1,1,1,0,0,1,0,0,0,1,1,0,0,1,1,1,0,1,1,0,1,0,7,2.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2891,complete,10,2,1,2,60,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,valencia,visitador medico,NaN,5,3,2,5,5,1,1,1,1,2,2,4,2,1,1,1,1,25,20,3,500,10,0.1,3,0,3,1,1,0,0,0,NaN,NaN,200000.0,0,1,3,3,0.503211,0,0.0,1,1,1,1,1,1,0,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,1,8,3.0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2633,complete,10,3,1,1,74,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,Barcelona,Jubilada,NaN,5,5,5,5,2,1,1,1,1,2,3,2,2,2,2,2,2,25,60,1,60,10,1.0,3,1,2,1,0,1,1,0,Coche,car,200.0,0,1,2,1,0.503211,1,0.0,1,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,2,2.0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901,1764,complete,10,2,1,2,32,2,NaN,NaN,NaN,NaN,NaN,2.0,6.0,NaN,NaN,NaN,3,AVILA,Parado,NaN,3,3,3,3,5,1,1,1,1,1,2,2,2,1,1,4,4,2,36,4,12,34,34.0,3,4,7,0,0,0,0,1,NaN,NaN,NaN,1,5,1,1,1.345079,1,NaN,0,0,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,3,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3902,5341,complete,10,1,1,1,33,2,NaN,NaN,NaN,NaN,NaN,2.0,99.0,NaN,NaN,NaN,3,tornavacas,desempleada,NaN,3,3,3,3,3,1,1,1,1,2,3,2,1,2,2,3,1,25,10,3,1000,1,1.0,3,1,1,0,1,1,0,0,NaN,NaN,NaN,1,2,2,3,1.345079,0,0.0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3903,1351,complete,10,1,1,1,34,2,NaN,NaN,NaN,NaN,NaN,2.0,5.0,NaN,NaN,NaN,3,palma del rio,desempleada,NaN,5,5,3,5,1,2,1,1,2,1,4,4,1,1,2,4,1,100,20,1,500,100,100.0,3,2,1,0,0,0,0,1,NaN,NaN,NaN,1,5,4,2,1.345079,1,0.0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,1,0,3,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3904,6923,complete,10,2,1,2,30,2,NaN,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,3,Hospitalet,Mozo almacen,NaN,4,2,3,5,3,1,1,1,2,2,2,3,1,1,1,3,1,90,60,3,653,1,2.0,3,0,1,1,0,0,0,0,NaN,NaN,700.0,0,3,3,4,1.345079,0,0.0,1,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,3,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3905,6776,complete,10,1,1,2,35,2,NaN,NaN,NaN,NaN,NaN,2.0,5.0,NaN,NaN,NaN,3,SEVILLA,DESEMPLEADO,NaN,1,1,1,1,1,2,2,2,2,2,4,1,1,2,1,4,4,50,60,1,500,1,1.0,2,0,1,0,0,1,0,0,NaN,NaN,NaN,1,10,1,4,1.345079,0,0.0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,4,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [15]:
surveyFull = survey.groupby(["responseid"]).progress_apply(scoring1)

100%|██████████████████████████████████████████████████████████████████████████████| 3906/3906 [00:44<00:00, 87.47it/s]

In [16]:
surveyFull

,,responseid,status,country,leg_conditions_riskp,q0,s1,s2_1,age_rec,s5uk,s4de,s5de,s4it,s5it,s4es,s5es,s5fr,s5pl,s5se,isced,s7,s8,English_occupation,q5_1,q5_2,q5_5,q5_6,q5_9,q8_2_1,q8_2_2,q8_2_3,q8_2_4,q8_2_5,q8_3,q8_4,q8_5berlin_1,q8_5london_1,q8_5paris_1,q8_6,q8_7,q9_1_1,q9_2_1,q9_3,q10_1_1,q10_2_1,q10_3_1,q10_4,q11_1,q12,q13_1,q13_2,q13_3,q13_4,q13_5,q13_4_other,English_otherinsur,q14_1,q14_na,q15_1,q16,q17,weight,reflectivespending,higherincomegroup,financialproductclear,ignore_dist6,Understanding1,Understanding2,Understanding3,Understanding4,Understanding5,graphunderstanding1,graphunderstanding2,graphunderstanding3,Calculating1,Calculating2,Calculating3,Calculating4,Certainty2,Certainty3,Certainty4,Certainty5,Uncertainty1,Uncertainty2,highriskliterate,lowriskliterate,mediumriskliterate,rl_sumscore,incomelevels,emergencyfund,isced_recoded,certainty1,certainty2,certainty3,certainty4,certainty5,uncertainty1,uncertainty2,numeracy1,numeracy2,numeracy3,numeracy4,numeracy5,graph1,graph2,graph3,riskcalculation1,riskcalculation2,riskcalculation3,riskcalculation4,Certainty score_5,Uncertainty score_5,Number Comprehension score_5,Graph Comprehension score_5,Calculation score_4,Total Score_19
responseid,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2833,1,complete,9,1,1,1,36,3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Westgate-on-sea,HR administrator,NaN,4,2,3,4,4,2,2,2,2,2,1,4,1,1,1,1,3,25,20,3,500,10,0.10,1,2,3,0,0,1,0,0,NaN,NaN,20000.0,0,2,2,1,1.068446,1,0.0,0,1,0,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,11,3.0,1,2,1,1,1,1,1,1,1,0,1,1,1,0,1,1,1,1,1,1,1,5,2,3,3,4,17
2,779,2,complete,12,1,1,2,69,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,1,wattignies,retraite,retirement,4,3,1,4,3,1,1,1,1,2,2,4,2,1,1,1,1,50,20,3,500,10,0.10,1,2,3,1,1,1,0,0,NaN,NaN,300000.0,0,0,2,1,0.934515,1,0.0,0,1,1,1,1,1,0,0,1,1,1,1,1,1,0,0,0,0,0,1,0,0,1,9,3.0,1,2,0,0,0,0,1,0,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,4,2,4,12
5,3212,5,complete,10,1,1,1,49,3,NaN,NaN,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,1,barcelona,contable,NaN,3,3,3,5,3,2,2,1,2,2,2,4,1,1,1,2,2,20,60,3,500,100,1.00,3,0,1,0,0,1,0,0,NaN,NaN,100000.0,0,1,2,4,1.099248,0,0.0,1,1,0,1,1,0,0,0,0,1,1,0,0,0,1,1,0,1,0,1,0,1,0,5,1.0,0,2,1,1,0,1,1,0,1,0,1,1,0,0,0,0,1,1,0,0,0,4,1,2,1,1,9
8,2497,8,complete,12,1,1,1,30,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,1,DIJON,MOBILE MARCHANDISER,NaN,4,4,2,1,3,1,1,1,1,2,3,4,2,1,1,2,2,25,20,3,400,10,0.10,2,0,3,1,1,1,1,0,VOITURE,car,NaN,1,3,1,3,1.045658,0,0.0,0,1,1,1,1,0,0,1,1,1,0,1,1,0,0,0,0,0,0,1,0,1,0,6,3.0,1,2,0,0,0,0,1,0,1,1,1,1,0,0,1,1,1,0,1,1,0,1,1,3,3,2,10
9,3209,9,complete,10,1,1,2,37,3,NaN,NaN,NaN,NaN,NaN,5.0,4.0,NaN,NaN,NaN,1,teruel,administrativo,NaN,3,4,5,5,5,2,1,1,2,2,4,4,2,1,1,1,4,25,20,3,500,10,0.10,3,0,2,0,0,1,1,0,"Deporte, coche",NaN,10000.0,0,3,2,4,1.099248,0,0.0,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,1,0,1,0,0,1,9,2.0,0,2,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,0,3,1,5,3,3,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15636,3258,15636,complete,10,1,1,1,61,4,NaN,NaN,NaN,NaN,NaN,2.0,5.0,NaN,NaN,NaN,3,palma mallorca,jubilado,NaN,2,3,3,2,3,1,1,1,1,2,3,2,1,2,1,1,1,40,60,4,500,200,10.00,2,5,2,0,0,0,0,1,NaN,NaN,NaN,1,1,3,4,1.103603,0,0.0,0,1,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,3,2.0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,0,1,0,2,0,1,4
15717,3803,15717,complete,9,1,1,1,26,2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Blackburn,Sales Assistant,NaN,5,3,3,5,3,1,2,1,1,2,4,4,2,1,1,3,2,25,20,3,500,10,0.10,2,0,1,0,0,1,0,0,NaN,NaN,NaN,1,1,2,4,1.259366,0,0.0,1,1,1,1,1,0,0,1,1,1,1,1,1,0,0,1,0,0,0,1,0,0,1,7,1.0,0,1,0,1,0,0,1,0,1,1,1,1,0,0,1,1,1,1,1,1,0,2,1,3,3,3,12
15788,3610,15788,complete,7,2,1,2,21,2,NaN,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,München,Elektriker,NaN,2,3,5,3,4,1,1,1,2,2,3,4,2,1,1,4,4,25,10,3,450,50,0.01,2,0,4,1,1,1,0,0,NaN,NaN,NaN,1,10,2,3,1.180354,0,1.0,0,1,1,1,1,0,1,1,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,4,4.0,1,2,0,0,0,1,1,0,1,1,1,1,0,1,1,0,1,0,0,0,0,2,1,4,2,0,9
15843,3681,15843,complete,12,1,1,1,18,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,2,Orléans,Étudiante,NaN,3,3,5,3,4,1,1,1,1,2,2,4,2,1,1,2,3,25,20,3,500,1,0.10,3,0,1,1,1,0,0,0,NaN,NaN,NaN,1,1,1,2,1.236911,1,0.0,0,1,1,1,1,0,0,1,1,1,1,0,1,0,0,0,0,0,0,1,0,1,0,6,1.0,0,1,0,0,0,0,1,0,1,1,1,1,0,0,1,1,1,1,0,1,0,1,1,3,3,2,10
15861,3899,15861,complete,10,1,1,1,32,2,NaN,NaN,NaN,NaN,NaN,2.0,99.0,NaN,NaN,NaN,3,a coruña,teleoperadora,NaN,1,3,1,3,3,1,1,1,2,2,2,4,2,1,2,4,4,30,20,4,600,1,1.00,3,1,1,1,0,0,1,0,coche,car,309.0,0,8,3,3,1.345079,0,0.0,0,1,1,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,2,1.0,1,0,0,0,0,1,1,0,1,1,1,0,0,1,0,1,0,0,0,0,0,2,1,3,1,0,7

In [17]:
surveyFull.to_csv("5 country_Full_Facet Scores.csv")