In [1]:
import pandas as pd
import numpy as np
import scipy as sp

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import mpl_toolkits as mplot3d

pd.set_option("display.max_columns", None)
from tqdm import tqdm
tqdm.pandas()

In [2]:
import_folder_path = rf"../../data_cleaned/europe"

# DATA WRANGLING

In [3]:
testing = pd.read_spss(rf"{import_folder_path}/Risikoatlas_EuropeanSurvey_translated_allcountries.sav")

In [4]:
testing

,responseid,status,country,q0,s1,s2_1,age_rec,s5uk,s4de,s5de,s4it,s5it,s4es,s5es,s5fr,s5pl,s5se,isced,leg,s7,s8,English_occupation,q1_1,English_risk1,q1_2,English_risk2,q1_3,English_risk3,q4_1,q4_2,q4_3,q4_4,q4_5,q4_6,q4_7,q4_8,q4_9,q4_10,q4_11,q4_12,q4_13,q4_14,q4_15,q4_16,q5_1,q5_2,q5_3,q5_4,q5_5,q5_6,q5_7,q5_8,q5_9,q6,q7_1,q7_2,q7_3,q8_2_1,q8_2_2,q8_2_3,q8_2_4,q8_2_5,q8_3,q8_4,q8_5berlin_1,q8_5london_1,q8_5paris_1,q8_6,q8_7,q9_1_1,q9_2_1,q9_3,q10_1_1,q10_2_1,q10_3_1,q10_4,q11_1,q12,q13_1,q13_2,q13_3,q13_4,q13_5,q13_4_other,English_otherinsur,q14_1,q14_na,q15_1,q16,q17,qxa1a_1_1,qxa1b_1_1,qxa1a_1_2,qxa1b_1_2,qxa1a_1_3,qxa1b_1_3,qxa1a_1_4,qxa1b_1_4,qxa1a_1_5,qxa1b_1_5,qxa1a_1_6,qxa1b_1_6,qxa1a_1_7,qxa1b_1_7,qxa1a_1_8,qxa1b_1_8,qxa1a_1_9,qxa1b_1_9,qxa1a_1_10,qxa1b_1_10,qxa1a_1_11,qxa1b_1_11,qxa1a_1_12,qxa1b_1_12,qxa1a_1_13,qxa1b_1_13,qxa1a_1_14,qxa1b_1_14,qxa1a_1_15,qxa1b_1_15,qxa1a_1_16,qxa1b_1_16,qxb1a_1_1,qxb1b_1_1,qxb1a_1_2,qxb1b_1_2,qxb1a_1_3,qxb1b_1_3,qxb1a_1_4,qxb1b_1_4,qxb1a_1_5,qxb1b_1_5,qxb1a_1_6,qxb1b_1_6,qxb1a_1_7,qxb1b_1_7,qxb1a_1_8,qxb1b_1_8,qxb1a_1_9,qxb1b_1_9,qxb1a_1_10,qxb1b_1_10,qxb1a_1_11,qxb1b_1_11,qxb1a_1_12,qxb1b_1_12,qxb1a_1_13,qxb1b_1_13,qxb1a_1_14,qxb1b_1_14,qxb1a_1_15,qxb1b_1_15,qxb1a_1_16,qxb1b_1_16,qxc1a_1_1,qxc1b_1_1,qxc1a_1_2,qxc1b_1_2,qxc1a_1_3,qxc1b_1_3,qxc1a_1_4,qxc1b_1_4,qxc1a_1_5,qxc1b_1_5,qxc1a_1_6,qxc1b_1_6,qxc1a_1_7,qxc1b_1_7,qxc1a_1_8,qxc1b_1_8,qxc1a_1_9,qxc1b_1_9,qxc1a_1_10,qxc1b_1_10,qxc1a_1_11,qxc1b_1_11,qxc1a_1_12,qxc1b_1_12,qxc1a_1_13,qxc1b_1_13,qxc1a_1_14,qxc1b_1_14,qxc1a_1_15,qxc1b_1_15,qxc1a_1_16,qxc1b_1_16,weight
0,2593.0,complete,Germany,Yes,Male,75.0,60 – 75 years,NaN,Fachhochschul- oder Hochschulreife,Abgeschlossene Lehre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medium,L2,Neunkirchen-Seelscheid,Rentner,,Tick,quirk,Trick,trick,Track,track,3,3,No fear1,No fear1,No fear1,No fear1,3,Extreme fear5,No fear1,No fear1,3,No fear1,No fear1,No fear1,No fear1,No fear1,2,Moderately3,Not at all1,2,Not at all1,Not at all1,Completely5,4,Moderately3,I consider it as an opportunity and as a threat,No,Yes,No,Yes,Yes,Yes,No,No,"Irrespective of the quality of the study, futu...",the real growth rate is not predictable with c...,"Lottery B:1 out of 1,000",Lottery B:0.099%,"Lottery B:6 out of 10,000",The medication increases recovery by 2%,the intervention increases employment from 80 ...,25.0,20.0,Can’t say,500.0,10.0,0.500,59 out of 100,3.0,"35,000 – 44,999 GBP",Health insurance (Which of the following insur...,Third-party insurance (a personal insurance ag...,Household insurance (Which of the following in...,"Others, please specify: (Which of the followin...",0.0,leider keine Verrsicherung gegen saudumme Umfr...,,NaN,I prefer not to answer,0.0,"all or more than the household income, even th...","write down budget and spending, but have no em...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,0.0,0.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,999999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.970773
1,1605.0,complete,Germany,Yes,Female,18.0,18 – 35 years,NaN,Noch in schulischer Ausbildung,Keine abgeschlossene Berufsausbildung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,low,L2,Sachsen,Schüler,,Armut,poverty,Überfall,attack,Krieg,war,4,4,3,4,2,2,2,Extreme fear5,No fear1,No fear1,No fear1,4,No fear1,3,3,2,Moderately3,Not at all1,2,2,Not at all1,4,Completely5,Not at all1,2,I consider it mostly as a threat,No,Yes,No,No,Yes,Yes,No,No,"Irrespective of the quality of the study, futu...",the real growth rate is likely overestimated,"Lottery B:1 out of 1,000",Lottery A:0.7 %,"Lottery B:6 out of 10,000",The medication increases recovery by 50%,the intervention increases employment from 80 ...,15.0,60.0,They are equal,500.0,2.0,0.001,"59 out of 1,000",0.0,"35,000 – 44,999 GBP",Health insurance (Which of the following insur...,0.0,0.0,0.0,0.0,,,NaN,I prefer not to answer,10.0,less than half of the household income and sav...,"have an emergency fund, and spend as it feels ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,400000.0,40000.0,500000.0,600900.0,200000.0,200000.0,40000.0,80000.0,10000.0,10000.0,2000.0,1000.0,30000.0,300000.0,800000.0,850000.0,40000.0,40009.0,40000.0,40000.0,4000.0,3000.0,3000.0,5000.0,2000.0,3000.0,10000.0,10000.0,500000.0,500000.0,20000.0,40000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.932898
2,1801.0,complete,Germany,Yes,Male,26.0,18 – 35 years,NaN,Fachhochschul- oder Hochschulreife,Auszubildende/-r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medium,L2,Lahr,Mediengestalter,,Krankheit,illness,Geldnot,poverty,zu wenig Zeit,not enough time,3,4,4,No fear1,No fear1,2,No fear1,No fear1,4,2,No fear1,No fear1,2,2,No fear1,No fear1,4,4,Not at all1,2,4,Moderately3,Completely5,2,Moderately3,I consider it mostly as an opportunity,No,Yes,No,Yes,Yes,Yes,No,No,"Irrespective of the quality of the study, futu...",the real growth rate is not predictable with c...,"Lottery B:1 out of 1,000",Lottery A:0.7 %,Lottery A:0.61%,The medication increases recovery by 100%,the intervention increases employment from 80 ...,25.0,10.0,They are equal,500.0,10.0,0.100,"59 out of 1,000",0.0,"Below 15,000 GPB",Health insurance (Which of the following insur...,Third-party insurance (a personal insurance ag...,0.0,"Others, please specify: (Which of the followin...",0.0,Zahnzusatz,,NaN,I prefer not to answer,10.0,more than half of the household income and sav...,"have an emergency fund, and spend as it feels ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250000.0,250000.0,60000.0,60000.0,100000.0,100000.0,1.0,1.0,1.0,1.0,35000.0,35000.0,150000.0,100000.0,800000.0,800000.0,150000.0,250000.0,600000.0,700000.0,100.0,100.0,1.0,1.0,50000.0,45000.0,1000.0,1000.0,450000.0,550000.0,200000.0,250000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.989763
3,8203.0,complete,Germany,Yes,Female,45.0,36 – 59 years,NaN,Realschul- oder gleichwertiger Abschluss,Abgeschlossene Lehre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medium,L2,Niedersachsen,MTA,,Die Zukunft der Kinder,the children's future,Terror,terrorism,Krankheiten,illnesses,Extreme fear5,4,4,Extreme fear5,4,Extreme fear5,4,2,4,No fear1,No fear1,3,2,Extreme fear5,4,No fear1,Moderately3,2,Not at all1,Not at all1,Moderately3,Completely5,Completely5,4,Completely5,I consider it as an opportunity and as a threat,No,Yes,No,Yes,Yes,Yes,Yes,No,"Irrespective of the quality of the study, futu...",the real growth rate is not predictable with c...,"Lottery A:9 out of 10,000",Lottery A:0.7 %,"Lottery B:6 out of 10,000",The medication increases recovery by 2%,the intervention increases employment from 5 t...,40.0,20.0,Crosicol,500.0,10.0,1.000,"59 out of 1,000",1.0,"35,000 – 44,999 GBP",0.0,Third-party insurance (a personal insurance ag...,Household insurance (Which of the following in...,"Others, please specify: (Which of the followin...",0.0,Lebens/ unfall,,NaN,I prefer not to answer,2.0,"all or more than the household income, even th...","have an emergency fund, and spend as it feels ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250000.0,300000.0,1000.0,3000.0,300000.0,400000.0,100.0,300.0,1000.0,1000.0,10.0,6.0,40000.0,60000.0,600000.0,900000.0,23000.0,30000.0,500000.0,600000.0,10.0,10.0,1.0,2.0,2000.0,5000.0,10000.0,9000.0,25000.0,40000.0,500.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.966337
4,2599.0,complete,Germany,Yes,Male,58.0,36 – 59 years,NaN,Abschluss der polytechnischen Oberschule,Abgeschlossene Lehre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medium,L2,Leipzig,Haustechniker,,Herzinfakt,heart attack,Sclganfall,stroke,Lebersvchade,liver damage,3,4,3,3,3,3,3,No fear1,3,3,No fear1,3,3,2,No fear1,3,2,Moderately3,Not at all1,Moderately3,2,Not at all1,Completely5,2,2,I consider it as an opportunity and as a threat,No,No,No,Yes,Yes,No,Yes,Yes,"Irrespective of the quality of the study, futu...",the real growth rate is not predictable with c...,"Lottery B:1 out of 1,000",Lottery A:0.7 %,Lottery A:0.61%,The medication increases recovery by 50%,the intervention increases employment from 80 ...,42.0,20.0,Crosicol,50.0,1.0,0.000,"59 out of 1,000",2.0,"Below 15,000 GPB",Health insurance (Which of the following insur...,Third-party insurance (a personal insurance ag...,Household insurance (Which of the following in...,0.0,0.0,,,0.0,Not selected,3.0,"all or more than our household income, because...","spend as it feels right, and do not have an em...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150000.0,150000.0,999000.0,1000000.0,250000.0,100000.0,500.0,20000.0,4000.0,40000.0,1000.0,500.0,50000.0,40000.0,100000.0,150000.0,250000.0,400000.0,600000.0,500567.0,400000.0,400000.0,9.0,9.0,50000.0,100000.0,600000.0,400000.0,250000.0,400000.0,1000.0,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.966337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901,13284.0,complete,Sweden,Yes,Male,46.0,36 – 59 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gymnasium,medium,L1,Göteborg,Dispatcher/Coordinator,,Hälsa,health,terror attack,terror attack,miljöförstöring,environmental pollution,3,No fear1,No fear1,No fear1,No fear1,No fear1,No fear1,3,No fear1,No fear1,3,No fear1,No fear1,No fear1,No fear1,No fear1,Moderately3,Moderately3,Moderately3,4,Completely5,Completely5,Completely5,4,4,I consider it as an opportunity and as a threat,No,No,No,No,No,Yes,No,No,"Irrespective of the quality of the study, futu...",the real growth rate is not predictable with c...,"Lottery B:1 out of 1,000",Lottery A:0.7 %,"Lottery B:6 out of 10,000",The medication increases recovery by 100%,the intervention increases employment from 5 t...,25.0,10.0,They are equal,500.0,10.0,0.100,"59 out of 1,000",0.0,"45,000 – 60,000 GBP",0.0,0.0,Household insurance (Which of the following in...,0.0,0.0,,,2000000.0,Not selected,2.0,less than half of the household income and sav...,"have an emergency fund, and spend as it feels ...",5.0,5.0,4000.0,4000.0,20.0,20.0,10000.0,10000.0,50.0,50.0,500.0,500.0,2000.0,2000.0,100000.0,100000.0,10.0,10.0,2000.0,2000.0,10.0,10.0,5.0,5.0,10000.0,20000.0,30000.0,30000.0,10000.0,10000.0,5000.0,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.952824
3902,13287.0,complete,Sweden,Yes,Male,37.0,36 – 59 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gymnasium,medium,L3,laxå,egen företagare,,hot,threat,lögner,lies,stöld,theft,3,2,3,3,2,3,2,3,3,3,2,3,3,No fear1,2,3,Moderately3,Moderately3,Moderately3,Moderately3,Moderately3,Moderately3,Moderately3,Moderately3,Moderately3,I consider it mostly as an opportunity,Yes,No,No,No,No,No,No,No,"Irrespective of the quality of the study, futu...",the real growth rate is not predictable with c...,"Lottery A:9 out of 10,000",Lottery A:0.7 %,Lottery A:0.61%,The medication increases recovery by 2%,None of the above is implied.,50.0,16.0,Can’t say,500.0,34.0,12.000,"59 out of 1,000",2.0,"Below 15,000 GPB",0.0,0.0,Household insurance (Which of the following in...,0.0,0.0,,,200000.0,Not selected,34.0,"all or more than our household income, because...","spend as it feels right, and do not have an em...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,167.0,55.0,700.0,45.0,434.0,212.0,150.0,359.0,0.0,44.0,44.0,44.0,123.0,55.0,545.0,321.0,11.0,32.0,212.0,777.0,31.0,11.0,0.0,43.0,0.0,0.0,459.0,345.0,76.0,77.0,22.0,555.0,0.952824
3903,13289.0,complete,Sweden,Yes,Male,53.0,36 – 59 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gymnasium,medium,L3,varberg,Allt i allo,serious disease,Knäskada,knee injury,Vård,care,Ekonomi,economy,Extreme fear5,Extreme fear5,3,No fear1,2,No fear1,3,4,3,2,2,No fear1,2,2,2,2,Completely5,Completely5,4,Moderately3,Moderately3,Completely5,4,Completely5,4,I consider it mostly as a threat,Yes,No,Yes,No,No,No,No,No,"The higher the quality of the study, the more ...",the real growth rate will be between 1% and 3%,"Lottery A:9 out of 10,000",Lottery A:0.7 %,Lottery A:0.61%,The medication increases recovery by 2%,the intervention increases employment from 100...,0.0,60.0,Crosicol,500.0,100.0,80.000,"59 out of 1,000",0.0,"15,000 - 24,999 GBP",Health insurance (Which of the following insur...,0.0,Household insurance (Which of the following in...,0.0,0.0,,,60000.0,Not selected,35.0,less than half of the household income and sav...,"write down budget and spending, and have an em...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,30.0,30.0,30.0,10.0,10.0,0.0,0.0,0.0,0.0,20.0,15.0,20.0,15.0,900000.0,850000.0,250.0,200.0,900000.0,900000.0,120.0,120.0,200.0,200.0,100.0,100.0,10.0,2.0,300.0,200.0,30.0,30.0,0.952824
3904,13556.0,complete,Sweden,Yes,Male,58.0,36 – 59 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gymnasium,medium,L1,Göteborg,sjukskriven,,brott,crime,förnedring pga att jag är svensk,humiliation because I'm Swedish,fattigdom,poverty,Extreme fear5,Extreme fear5,Extreme fear5,3,2,4,4,3,3,Extreme fear5,No fear1,No fear1,No fear1,3,No fear1,2,Moderately3,Moderately3,2,Moderately3,Completely5,Completely5,Completely5,Completely5,Completely5,I consider it mostly as a threat,No,No,No,Yes,Yes,Yes,Yes,No,"Irrespective of the quality of the study, futu...",the real growth rate is not predictable with c...,"Lottery B:1 out of 1,000",Lottery A:0.7 %,Lottery A:0.61%,None of the above is implied.,None of the above is implied.,0.0,20.0,Hertinol,500.0,10.0,1.000,"59 out of 1,000",0.0,"25,000 – 34,999 GBP",Health insurance (Which of the following insur...,Third-party insurance (a personal insurance ag...,Household insurance (Which of the following in...,0.0,0.0,,,0.0,Not selected,3.0,"all or more than our household income, because...","write down budget and spending, but have no em...",150.0,350.0,2000.0,6000.0,5000.0,8000.0,10.0,20.0,5.0,50.0,30.0,45.0,30000.0,35000.0,0.0,0.0,20000.0,40000.0,30000.0,50000.0,1000.0,500.0,5.0,7.0,20000.0,30000.0,3000.0,3000.0,10000.0,15000.0,10000.0,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.952824
3905,13836.0,complete,Sweden,Yes,Male,48.0,36 – 59 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gymnasium,medium,L1,Karlstad,Lagerchef,,Våldsbrott,violent crime,Inbrott,burglary,Terrorattack,terror attack,2,2,2,2,No fear1,2,2,2,2,2,No fear1,3,4,2,No fear1,No fear1,4,Not at all1,Not at all1,Moderately3,Not at all1,Moderately3,Moderately3,4,2,I consider it as an opportunity and as a threat,No,Yes,No,Yes,No,Yes,No,No,"Irrespective of the quality of the study, futu...",the real growth rate is not predictable with c...,"Lottery B:1 out of 1,000",Lottery B:0.099%,Lottery A:0.61%,The medication increases recovery by 100%,the intervention increases employment from 80 ...,8.0,20.0,They are equal,500.0,10.0,1.000,"59 out of 1,000",3.0,I prefer not to answer,Health insurance (Which of the following insur...,Third-party insurance (a personal insurance ag...,Household insurance (Which of the following in...,0.0,0.0,,,NaN,I prefer not to answer,1.0,more than half of the household income and sav...,"write down budget and spending, and have an em...",40.0,40.0,20000.0,20000.0,1000.0,1000.0,1000.0,1100.0,2.0,2.0,50.0,50.0,50000.0,50000.0,100000.0,100000.0,700.0,900.0,60000.0,60000.0,100.0,100.0,70000.0,70000.0,20000.0,25000.0,100.0,100.0,15000.0,15000.0,12000.0,12000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.952824

In [5]:
df00 = pd.read_excel(rf"{import_folder_path}/RisikoAtlas_EuropeanSurvey.xlsx", skiprows = 1)
df00 = df00.merge(testing[["responseid", "q7_1", "q7_2", "q7_3"]], on = "responseid", how = "inner")

In [6]:
df00

,responseid,status,country,leg_conditions_riskp,q0,s1,s2_1,age_rec,s5uk,s4de,s5de,s4it,s5it,s4es,s5es,s5fr,s5pl,s5se,isced,s7,s8,English_occupation,q5_1,q5_2,q5_5,q5_6,q5_9,q8_2_1,q8_2_2,q8_2_3,q8_2_4,q8_2_5,q8_3,q8_4,q8_5berlin_1,q8_5london_1,q8_5paris_1,q8_6,q8_7,q9_1_1,q9_2_1,q9_3,q10_1_1,q10_2_1,q10_3_1,q10_4,q11_1,q12,q13_1,q13_2,q13_3,q13_4,q13_5,q13_4_other,English_otherinsur,q14_1,q14_na,q15_1,q16,q17,weight,reflectivespending,higherincomegroup,financialproductclear,ignore_dist6,Understanding1,Understanding2,Understanding3,Understanding4,Understanding5,graphunderstanding1,graphunderstanding2,graphunderstanding3,Calculating1,Calculating2,Calculating3,Calculating4,Certainty2,Certainty3,Certainty4,Certainty5,Uncertainty1,Uncertainty2,highriskliterate,lowriskliterate,mediumriskliterate,rl_sumscore,incomelevels,emergencyfund,isced_recoded,q7_1,q7_2,q7_3
0,2624,complete,10,2,1,1,65,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,Vilasantar,capataz,NaN,4,2,3,4,4,1,1,1,2,2,4,1,1,1,2,2,4,25,60,4,80,1,10.0,2,2,2,1,1,1,0,0,NaN,NaN,30000.0,0,6,3,1,0.503211,1,0.0,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,2.0,1,1,No,No,No
1,296,complete,10,1,1,2,66,4,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,2,Alcala de Henares,Pensionista,NaN,4,3,1,5,4,1,1,1,2,2,4,4,1,1,2,3,2,25,20,3,650,10,0.1,3,2,2,0,1,1,1,0,auto,car,15000.0,0,2,1,3,0.503211,0,0.0,1,1,0,1,0,0,0,1,1,1,0,1,1,0,0,0,0,1,0,1,0,1,0,4,2.0,1,1,No,No,No
2,2666,complete,10,1,1,1,61,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,LA CORUÑA,JUBILADO,NaN,3,3,3,5,1,2,2,2,1,2,1,4,2,1,2,4,4,50,66,4,500,10,10.0,2,0,2,1,1,1,0,0,NaN,NaN,24000.0,0,0,1,4,0.503211,0,0.0,1,1,1,1,0,0,1,0,0,0,1,1,0,0,1,1,1,0,1,1,0,1,0,7,2.0,0,1,No,No,No
3,2891,complete,10,2,1,2,60,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,valencia,visitador medico,NaN,5,3,2,5,5,1,1,1,1,2,2,4,2,1,1,1,1,25,20,3,500,10,0.1,3,0,3,1,1,0,0,0,NaN,NaN,200000.0,0,1,3,3,0.503211,0,0.0,1,1,1,1,1,1,0,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,1,8,3.0,1,1,No,Yes,No
4,2633,complete,10,3,1,1,74,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,Barcelona,Jubilada,NaN,5,5,5,5,2,1,1,1,1,2,3,2,2,2,2,2,2,25,60,1,60,10,1.0,3,1,2,1,0,1,1,0,Coche,car,200.0,0,1,2,1,0.503211,1,0.0,1,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,2,2.0,1,1,No,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901,1764,complete,10,2,1,2,32,2,NaN,NaN,NaN,NaN,NaN,2.0,6.0,NaN,NaN,NaN,3,AVILA,Parado,NaN,3,3,3,3,5,1,1,1,1,1,2,2,2,1,1,4,4,2,36,4,12,34,34.0,3,4,7,0,0,0,0,1,NaN,NaN,NaN,1,5,1,1,1.345079,1,NaN,0,0,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,3,NaN,1,0,Yes,Yes,Yes
3902,5341,complete,10,1,1,1,33,2,NaN,NaN,NaN,NaN,NaN,2.0,99.0,NaN,NaN,NaN,3,tornavacas,desempleada,NaN,3,3,3,3,3,1,1,1,1,2,3,2,1,2,2,3,1,25,10,3,1000,1,1.0,3,1,1,0,1,1,0,0,NaN,NaN,NaN,1,2,2,3,1.345079,0,0.0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1.0,1,0,No,Yes,No
3903,1351,complete,10,1,1,1,34,2,NaN,NaN,NaN,NaN,NaN,2.0,5.0,NaN,NaN,NaN,3,palma del rio,desempleada,NaN,5,5,3,5,1,2,1,1,2,1,4,4,1,1,2,4,1,100,20,1,500,100,100.0,3,2,1,0,0,0,0,1,NaN,NaN,NaN,1,5,4,2,1.345079,1,0.0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,1,0,3,1.0,0,0,No,Yes,No
3904,6923,complete,10,2,1,2,30,2,NaN,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,3,Hospitalet,Mozo almacen,NaN,4,2,3,5,3,1,1,1,2,2,2,3,1,1,1,3,1,90,60,3,653,1,2.0,3,0,1,1,0,0,0,0,NaN,NaN,700.0,0,3,3,4,1.345079,0,0.0,1,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,3,1.0,0,0,Yes,Yes,No
3905,6776,complete,10,1,1,2,35,2,NaN,NaN,NaN,NaN,NaN,2.0,5.0,NaN,NaN,NaN,3,SEVILLA,DESEMPLEADO,NaN,1,1,1,1,1,2,2,2,2,2,4,1,1,2,1,4,4,50,60,1,500,1,1.0,2,0,1,0,0,1,0,0,NaN,NaN,NaN,1,10,1,4,1.345079,0,0.0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,4,1.0,0,0,No,No,No

In [7]:
# Age groups/rec = [2,3,4]
# Age group 2 = 18 to 35 y/o
# Age group 3 = 36 to 55 y/o
# Age group 4 = 56 to 75 y/o (75 y/o, i.e, within the scope of the data we have, it can mean 60 and above also)

df00["age"] = df00["s2_1"].astype(float)

# Secondary upto 10 – ISCED 3
# Senior Secondary upto 12 - ISCED 3 
# Diploma and voca – ISCED 2
# UG – ISCED 2
# PG – ISCED 1
# PhD and higher – ISCED 1

df00["gender_text"] = np.where( df00["s1"] == 1, "Female", "Male")
df00["income"] = df00["incomelevels"].astype(float).fillna(0)
df00["wealth"] = df00["q14_1"].astype(float).fillna(-1)

df00["country"] = df00["country"].astype(float)
df00["country_text"] = np.where(df00["country"] == 12, "France",
                                np.where(df00["country"] == 21, "Poland",
                                         np.where(df00["country"] == 9, "UK",
                                                  np.where(df00["country"] == 10, "Spain",
                                                           np.where(df00["country"] == 29, "Sweden",
                                                                    np.where(df00["country"] == 7, "Germany", "None",
                                                                            )
                                                                   )
                                                          )
                                                 )
                                        )
                               )

df00["income"] = df00["income"].astype(float)
df00.loc[df00["income"] == 0, "income"] = -1
df00["income_text"] = np.where(df00["income"] == 1, "Below 15,000 GPB",
                                np.where(df00["income"] == 2, "15,000 - 24,999 GBP",
                                         np.where(df00["income"] == 3, "25,000 – 34,999 GBP",
                                                  np.where(df00["income"] == 4, "35,000 – 44,999 GBP",
                                                           np.where(df00["income"] == 5, "45,000 – 60,000 GBP",
                                                                    np.where(df00["income"] == 6, "More than 60,000 GBP", 
                                                                             np.where(df00["income"] == -1, "None", "NA"
                                                                                     )
                                                                            )
                                                                   )
                                                          )
                                                 )
                                        )
                               )

df00["prevelanceestimate1"] = np.where(df00["q7_1"].astype(str) == "Yes", 1, 0)
df00["prevelanceestimate2"] = np.where(df00["q7_2"].astype(str) == "Yes", 1, 0)
df00["prevelanceestimate3"] = np.where(df00["q7_3"].astype(str) == "Yes", 1, 0)

df00["financialplanning_euro_spending"] = df00["q16"].astype(float)
df00["financialplanning_euro_emergency"] = df00["q17"].astype(float)

In [8]:
def remove_indexname(series): # removes index name
    series.index.name = None
    series.name = None
    return series.to_string()

# print("Total Observations:", df00["Q1"].count())

print(f'\nGender:\n{remove_indexname(df00["gender_text"].value_counts())}')
print('-' * 100)
print(f'ISCED:\n{remove_indexname(df00["isced"].value_counts().sort_index())}')
print('-' * 100)
print(f'Income:\n{remove_indexname(df00["income_text"].value_counts().sort_index())}')
print(f'\nIncome_code:\n{remove_indexname(df00["income"].value_counts().sort_index())}')
print('-' * 100)
print(f'Countries:\n{remove_indexname(df00["country_text"].value_counts())}')
print(f'\nCountries_code:\n{remove_indexname(df00["country"].value_counts())}')
print('-' * 100)



# print(f'\nOccupation:\n{remove_indexname(df0["Q4a"].value_counts())}')
# print(f'\nEducation:\n{remove_indexname(df0["Q3"].value_counts())}')

Gender:
Female    2000
Male      1906
----------------------------------------------------------------------------------------------------
ISCED:
1    1197
2    1795
3     914
----------------------------------------------------------------------------------------------------
Income:
15,000 - 24,999 GBP     785
25,000 – 34,999 GBP     654
35,000 – 44,999 GBP     480
45,000 – 60,000 GBP     359
Below 15,000 GPB        853
More than 60,000 GBP    240
None                    535

Income_code:
-1.0    535
 1.0    853
 2.0    785
 3.0    654
 4.0    480
 5.0    359
 6.0    240
----------------------------------------------------------------------------------------------------
Countries:
France     677
Poland     656
UK         652
Spain      646
Sweden     643
Germany    632

Countries_code:
12.0    677
21.0    656
9.0     652
10.0    646
29.0    643
7.0     632
----------------------------------------------------------------------------------------------------

## SCORING

In [9]:
focal_col = ["q8_2_1", "q8_2_2", "q8_2_3", "q8_2_4", "q8_2_5",
             "q8_3", "q8_4",
             "q8_5berlin_1", "q8_5london_1", "q8_5paris_1", "q8_6", "q8_7",
             "q9_1_1", "q9_2_1", "q9_3",
             "q10_1_1", "q10_2_1", "q10_3_1", "q10_4"]

for col in focal_col:
    df00[col] = df00[col].astype(float)

scoreColumns = ["certainty1", "certainty2", "certainty3", "certainty4", "certainty5",
"uncertainty1", "uncertainty2",
"numeracy1", "numeracy2", "numeracy3",# "numeracy4", "numeracy5",
"graph1", "graph2", "graph3",
"riskcomprehension1", "riskcomprehension2", "riskcomprehension3", "riskcomprehension4", "riskcomprehension5",
"bayesian1"
]


df00[scoreColumns] = 0

In [10]:
df00

,responseid,status,country,leg_conditions_riskp,q0,s1,s2_1,age_rec,s5uk,s4de,s5de,s4it,s5it,s4es,s5es,s5fr,s5pl,s5se,isced,s7,s8,English_occupation,q5_1,q5_2,q5_5,q5_6,q5_9,q8_2_1,q8_2_2,q8_2_3,q8_2_4,q8_2_5,q8_3,q8_4,q8_5berlin_1,q8_5london_1,q8_5paris_1,q8_6,q8_7,q9_1_1,q9_2_1,q9_3,q10_1_1,q10_2_1,q10_3_1,q10_4,q11_1,q12,q13_1,q13_2,q13_3,q13_4,q13_5,q13_4_other,English_otherinsur,q14_1,q14_na,q15_1,q16,q17,weight,reflectivespending,higherincomegroup,financialproductclear,ignore_dist6,Understanding1,Understanding2,Understanding3,Understanding4,Understanding5,graphunderstanding1,graphunderstanding2,graphunderstanding3,Calculating1,Calculating2,Calculating3,Calculating4,Certainty2,Certainty3,Certainty4,Certainty5,Uncertainty1,Uncertainty2,highriskliterate,lowriskliterate,mediumriskliterate,rl_sumscore,incomelevels,emergencyfund,isced_recoded,q7_1,q7_2,q7_3,age,gender_text,income,wealth,country_text,income_text,prevelanceestimate1,prevelanceestimate2,prevelanceestimate3,financialplanning_euro_spending,financialplanning_euro_emergency,certainty1,certainty2,certainty3,certainty4,certainty5,uncertainty1,uncertainty2,numeracy1,numeracy2,numeracy3,graph1,graph2,graph3,riskcomprehension1,riskcomprehension2,riskcomprehension3,riskcomprehension4,riskcomprehension5,bayesian1
0,2624,complete,10.0,2,1,1,65,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,Vilasantar,capataz,NaN,4,2,3,4,4,1.0,1.0,1.0,2.0,2.0,4.0,1.0,1.0,1.0,2.0,2.0,4.0,25.0,60.0,4.0,80.0,1.0,10.0,2.0,2,2,1,1,1,0,0,NaN,NaN,30000.0,0,6,3,1,0.503211,1,0.0,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,2.0,1,1,No,No,No,65.0,Female,2.0,30000.0,Spain,"15,000 - 24,999 GBP",0,0,0,3.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,296,complete,10.0,1,1,2,66,4,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,2,Alcala de Henares,Pensionista,NaN,4,3,1,5,4,1.0,1.0,1.0,2.0,2.0,4.0,4.0,1.0,1.0,2.0,3.0,2.0,25.0,20.0,3.0,650.0,10.0,0.1,3.0,2,2,0,1,1,1,0,auto,car,15000.0,0,2,1,3,0.503211,0,0.0,1,1,0,1,0,0,0,1,1,1,0,1,1,0,0,0,0,1,0,1,0,1,0,4,2.0,1,1,No,No,No,66.0,Male,2.0,15000.0,Spain,"15,000 - 24,999 GBP",0,0,0,1.0,3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2666,complete,10.0,1,1,1,61,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,LA CORUÑA,JUBILADO,NaN,3,3,3,5,1,2.0,2.0,2.0,1.0,2.0,1.0,4.0,2.0,1.0,2.0,4.0,4.0,50.0,66.0,4.0,500.0,10.0,10.0,2.0,0,2,1,1,1,0,0,NaN,NaN,24000.0,0,0,1,4,0.503211,0,0.0,1,1,1,1,0,0,1,0,0,0,1,1,0,0,1,1,1,0,1,1,0,1,0,7,2.0,0,1,No,No,No,61.0,Female,2.0,24000.0,Spain,"15,000 - 24,999 GBP",0,0,0,1.0,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2891,complete,10.0,2,1,2,60,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,valencia,visitador medico,NaN,5,3,2,5,5,1.0,1.0,1.0,1.0,2.0,2.0,4.0,2.0,1.0,1.0,1.0,1.0,25.0,20.0,3.0,500.0,10.0,0.1,3.0,0,3,1,1,0,0,0,NaN,NaN,200000.0,0,1,3,3,0.503211,0,0.0,1,1,1,1,1,1,0,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,1,8,3.0,1,1,No,Yes,No,60.0,Male,3.0,200000.0,Spain,"25,000 – 34,999 GBP",0,1,0,3.0,3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2633,complete,10.0,3,1,1,74,4,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,2,Barcelona,Jubilada,NaN,5,5,5,5,2,1.0,1.0,1.0,1.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,25.0,60.0,1.0,60.0,10.0,1.0,3.0,1,2,1,0,1,1,0,Coche,car,200.0,0,1,2,1,0.503211,1,0.0,1,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,2,2.0,1,1,No,Yes,No,74.0,Female,2.0,200.0,Spain,"15,000 - 24,999 GBP",0,1,0,2.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901,1764,complete,10.0,2,1,2,32,2,NaN,NaN,NaN,NaN,NaN,2.0,6.0,NaN,NaN,NaN,3,AVILA,Parado,NaN,3,3,3,3,5,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,4.0,4.0,2.0,36.0,4.0,12.0,34.0,34.0,3.0,4,7,0,0,0,0,1,NaN,NaN,NaN,1,5,1,1,1.345079,1,NaN,0,0,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,3,NaN,1,0,Yes,Yes,Yes,32.0,Male,-1.0,-1.0,Spain,None,1,1,1,1.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3902,5341,complete,10.0,1,1,1,33,2,NaN,NaN,NaN,NaN,NaN,2.0,99.0,NaN,NaN,NaN,3,tornavacas,desempleada,NaN,3,3,3,3,3,1.0,1.0,1.0,1.0,2.0,3.0,2.0,1.0,2.0,2.0,3.0,1.0,25.0,10.0,3.0,1000.0,1.0,1.0,3.0,1,1,0,1,1,0,0,NaN,NaN,NaN,1,2,2,3,1.345079,0,0.0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1.0,1,0,No,Yes,No,33.0,Female,1.0,-1.0,Spain,"Below 15,000 GPB",0,1,0,2.0,3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3903,1351,complete,10.0,1,1,1,34,2,NaN,NaN,NaN,NaN,NaN,2.0,5.0,NaN,NaN,NaN,3,palma del rio,desempleada,NaN,5,5,3,5,1,2.0,1.0,1.0,2.0,1.0,4.0,4.0,1.0,1.0,2.0,4.0,1.0,100.0,20.0,1.0,500.0,100.0,100.0,3.0,2,1,0,0,0,0,1,NaN,NaN,NaN,1,5,4,2,1.345079,1,0.0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,1,0,3,1.0,0,0,No,Yes,No,34.0,Female,1.0,-1.0,Spain,"Below 15,000 GPB",0,1,0,4.0,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3904,6923,complete,10.0,2,1,2,30,2,NaN,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,3,Hospitalet,Mozo almacen,NaN,4,2,3,5,3,1.0,1.0,1.0,2.0,2.0,2.0,3.0,1.0,1.0,1.0,3.0,1.0,90.0,60.0,3.0,653.0,1.0,2.0,3.0,0,1,1,0,0,0,0,NaN,NaN,700.0,0,3,3,4,1.345079,0,0.0,1,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,3,1.0,0,0,Yes,Yes,No,30.0,Male,1.0,700.0,Spain,"Below 15,000 GPB",1,1,0,3.0,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3905,6776,complete,10.0,1,1,2,35,2,NaN,NaN,NaN,NaN,NaN,2.0,5.0,NaN,NaN,NaN,3,SEVILLA,DESEMPLEADO,NaN,1,1,1,1,1,2.0,2.0,2.0,2.0,2.0,4.0,1.0,1.0,2.0,1.0,4.0,4.0,50.0,60.0,1.0,500.0,1.0,1.0,2.0,0,1,0,0,1,0,0,NaN,NaN,NaN,1,10,1,4,1.345079,0,0.0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,4,1.0,0,0,No,No,No,35.0,Male,1.0,-1.0,Spain,"Below 15,000 GPB",0,0,0,1.0,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
# Assigning scores

def scoring1(surveyFacet):
    surveyFacet.loc[ surveyFacet["q8_2_1"] == 2, "certainty1"] = 1
    surveyFacet.loc[ surveyFacet["q8_2_2"] == 2, "certainty2"] = 1
    surveyFacet.loc[ surveyFacet["q8_2_3"] == 2, "certainty3"] = 1
    surveyFacet.loc[ surveyFacet["q8_2_4"] == 2, "certainty4"] = 1
    surveyFacet.loc[ surveyFacet["q8_2_5"] == 2, "certainty5"] = 1

    surveyFacet.loc[ surveyFacet["q8_3"] == 1, "uncertainty1"] = 1
    surveyFacet.loc[ surveyFacet["q8_4"] == 4, "uncertainty2"] = 1

    surveyFacet.loc[ surveyFacet["q8_5berlin_1"] == 2, "riskcomprehension1"] = 1
    surveyFacet.loc[ surveyFacet["q8_5london_1"] == 1, "riskcomprehension2"] = 1
    surveyFacet.loc[ surveyFacet["q8_5paris_1"] == 1, "riskcomprehension3"] = 1
    
    surveyFacet.loc[ surveyFacet["q8_6"] == 1, "riskcomprehension4"] = 1
    surveyFacet.loc[ surveyFacet["q8_7"] == 4, "riskcomprehension5"] = 1

    surveyFacet.loc[ surveyFacet["q9_1_1"] == 25, "graph1"] = 1
    surveyFacet.loc[ surveyFacet["q9_2_1"] == 20, "graph2"] = 1
    surveyFacet.loc[ surveyFacet["q9_3"] == 3, "graph3"] = 1

    surveyFacet.loc[ surveyFacet["q10_1_1"] == 500, "numeracy1"] = 1
    surveyFacet.loc[ surveyFacet["q10_2_1"] == 10, "numeracy2"] = 1
    surveyFacet.loc[ (surveyFacet["q10_3_1"] == 0.1) | (surveyFacet["q10_3_1"] == ".1") | (surveyFacet["q10_3_1"] == ",1") , "numeracy3"] = 1
    surveyFacet.loc[ surveyFacet["q10_4"] == 1, "bayesian1"] = 1

    # Assigning total scores
    # surveyFacet["Certainty score_5"] = surveyFacet["certainty1"] + surveyFacet["certainty2"] + surveyFacet["certainty3"] + surveyFacet["certainty4"] + surveyFacet["certainty5"]
    #surveyFacet["Uncertainty score_5"] = surveyFacet["uncertainty1"] + surveyFacet["uncertainty2"]

    #surveyFacet["Number Comprehension score_5"] = surveyFacet["numeracy1"] + surveyFacet["numeracy2"] + surveyFacet["numeracy3"] + surveyFacet["numeracy4"] + surveyFacet["numeracy5"]
    #surveyFacet["Graph Comprehension score_5"] = surveyFacet["graph1"] + surveyFacet["graph2"] + surveyFacet["graph3"]

    #surveyFacet["Calculation score_4"] = surveyFacet["riskcalculation1"] + surveyFacet["riskcalculation2"] + surveyFacet["riskcalculation3"] + surveyFacet["riskcalculation4"]

    #surveyFacet["Total Score_19"] = surveyFacet["Certainty score_5"] + surveyFacet["Uncertainty score_5"] + surveyFacet["Number Comprehension score_5"] + surveyFacet["Graph Comprehension score_5"] + surveyFacet["Calculation score_4"]

    return surveyFacet

In [12]:
df01 = df00.groupby(["responseid"]).progress_apply(scoring1)
df01 = df01.reset_index(drop = True).copy()

100%|█████████▉| 3893/3906 [00:20<00:00, 205.75it/s]/home/leshleon/projects/Risk Literacy/.venv/lib/python3.12/site-packages/tqdm/std.py:917: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return getattr(df, df_function)(wrapper, **kwargs)
100%|██████████| 3906/3906 [00:23<00:00, 165.46it/s]

In [13]:
def scoring2(survey):
    
    survey["Certainty_5"] = survey["certainty1"] + survey["certainty2"] + survey["certainty3"] + survey["certainty4"] + survey["certainty5"]
    
    survey["Uncertainty_2"] = survey["uncertainty1"] + survey["uncertainty2"]
    
    survey["RiskComprehension_5"] = survey["riskcomprehension1"] + survey["riskcomprehension2"] + survey["riskcomprehension3"] + survey["riskcomprehension4"] + survey["riskcomprehension5"]
    
    survey["GraphLiteracy_3"] = survey["graph1"] + survey["graph2"] + survey["graph3"]
    
    survey["Numeracy_3"] = survey["numeracy1"] + survey["numeracy2"] + survey["numeracy3"]
    
    survey["Bayesianreasoning_1"] = survey["bayesian1"]
    
    survey["TotalScore_19"] = survey["Certainty_5"] + survey["Uncertainty_2"] + survey["RiskComprehension_5"] + survey["GraphLiteracy_3"] + survey["Numeracy_3"] + survey["Bayesianreasoning_1"]
    
    survey["Certainty_%"] = survey["Certainty_5"] / 5 * 100
    survey["Uncertainty_%"] = survey["Uncertainty_2"] / 2 * 100
    survey["RiskComprehension_%"] = survey["RiskComprehension_5"] / 5 * 100
    survey["GraphLiteracy_%"] = survey["GraphLiteracy_3"] / 3 * 100
    survey["Numeracy_%"] = survey["Numeracy_3"] / 3 * 100
    survey["Bayesianreasoning_%"] = survey["Bayesianreasoning_1"] / 1 * 100
    
    survey["TotalScore_%"] = survey["TotalScore_19"] / 19 * 100
    
    
    colReq1 = ["responseid", "country_text", "country", "age", "gender_text", "age_rec", "isced", "income", "wealth", "Certainty_5", "Uncertainty_2", "RiskComprehension_5", "GraphLiteracy_3",
              "Numeracy_3", "Bayesianreasoning_1", "Certainty_%", "Uncertainty_%", "RiskComprehension_%", "GraphLiteracy_%", "Numeracy_%", "Bayesianreasoning_%",
              "TotalScore_19", "TotalScore_%",]
    
    colReq2 = ["prevelanceestimate1", "prevelanceestimate2", "prevelanceestimate3", "financialplanning_euro_spending", "financialplanning_euro_emergency"]
    
    survey1 = survey[colReq1 + colReq2 + scoreColumns].copy()
    return survey1

In [14]:
df02 = scoring2(df01)

In [15]:
euro = df02.copy()

In [16]:
euro.to_pickle("Europe_dataset_scoredOnly.pkl")

In [17]:
aa

NameError: name 'aa' is not defined

--------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------

In [ ]:
#Global Vras:
facet_cols = ["Certainty_5", "Uncertainty_2", "RiskComprehension_5", "GraphLiteracy_3",
              "Numeracy_3", "Bayesianreasoning_1"]

facet_percent_cols = ["Certainty_%", "Uncertainty_%", "RiskComprehension_%", "GraphLiteracy_%",
                      "Numeracy_%", "Bayesianreasoning_%",]

# Study 2 - Europe

## Graph 1.0 - Total Score Frequency Distribution

In [ ]:
fig, axes = plt.subplots(1, 1, figsize = [12, 6])

sample = euro["TotalScore_19"].value_counts().sort_index()
x = sample.index
y = sample.values
total = sample.sum()

axes.bar(x, y, color="skyblue", edgecolor='black')

for j, value in zip(sample.index, sample.values):
    axes.text(j, value + 0.5, f"{value/total * 100:.1f}%", ha = "center", va = "bottom", fontsize=10, color="black")

axes.set_yticks(np.arange(0, 501, step = 50))
axes.set_xticks(x)
axes.set_xticklabels(x, rotation = 45, ha = "center")

axes.set_ylabel(f"Frequency (count)")
axes.set_title(f"Frequency of values of Total Score_19 (w/ %)")

plt.tight_layout()
plt.show()

## Graph 1.1 - Per Country: Total Score Frequency Distribution

In [ ]:
fig, axes = plt.subplots(3, 2, figsize = [12, 12])
axes = axes.flatten()

countries = euro["country_text"].value_counts().index.to_list()

for i, country in enumerate(countries):
    sample = euro.loc[euro["country_text"] == country, "TotalScore_19"].value_counts().sort_index()
    x = sample.index
    y = sample.values
    total = sample.sum() 
    
    axes[i].bar(x, y, color="skyblue", edgecolor='black')
    
    for j, value in zip(sample.index, sample.values):
        axes[i].text(j, value + 0.5, f"{value/total * 100:.1f}%", ha = "center", va = "bottom", fontsize=6, color="black")
    
    axes[i].set_yticks(np.arange(0, 151, step = 20))
    axes[i].set_xticks(x)
    axes[i].set_xticklabels(x, rotation = 45, ha = "center")
    
    axes[i].set_ylabel(f"Frequency (count)")
    axes[i].set_title(f"Frequency of values of Total Score_19 (w/ %) in {country}")

plt.tight_layout()
plt.show()

## Table 1.1 - Per country: Mean Total Score + SD

In [ ]:
fig, axes = plt.subplots(1, 1, figsize = [12, 6])

mean_scores = euro.groupby("country_text")["TotalScore_19"].mean().sort_index()
std_scores = euro.groupby("country_text")["TotalScore_19"].std().reindex(mean_scores.index)
sem_scores = euro.groupby("country_text")["TotalScore_19"].sem().reindex(mean_scores.index)

axes.bar(mean_scores.index, mean_scores.values, color="skyblue", edgecolor='black')
axes.errorbar(mean_scores.index, mean_scores.values, yerr = [np.zeros_like(sem_scores), sem_scores],
                     fmt = "none", capsize = 2, alpha = 0.8, zorder = 0)

axes.set_yticks(np.arange(0, 21))
axes.tick_params(axis = "x", rotation = 45)

for i, (mean, std, sem) in enumerate(zip(mean_scores.values, std_scores.values, sem_scores.values)):
    axes.text(i, mean + 0.5, f"± {sem:.3f}", ha = "right", va = "bottom", fontsize=8, color="black", rotation = 90)
    axes.text(i, 2, f"Mean = {mean:.1f}", ha = "center", va = "center",
              color='white', fontsize=10, fontweight='bold')
    axes.text(i, 1, f"SD = {std:.1f}", ha = "center", va = "center",
              color='black', fontsize=8, fontweight='bold')
    

axes.set_title("Mean Total score by country\nwith 1 std. dev. (1 decimal)", pad = 20)
axes.set_ylabel("Mean Total score")

----------------------------------

## Table 1.2 - Per country: Mean Facet Scores + SD (Ver. 1)

In [ ]:
fig, axes = plt.subplots(3, 2, figsize = [12, 12])
axes = axes.flatten()

for i, facet in enumerate(facet_cols):
    mean_scores = euro.groupby("country_text")[facet].mean().sort_index()
    std_scores = euro.groupby("country_text")[facet].std().reindex(mean_scores.index)
    sem_scores = euro.groupby("country_text")[facet].sem().reindex(mean_scores.index)
    
    axes[i].bar(mean_scores.index, mean_scores.values, color="skyblue", edgecolor='black')
    axes[i].errorbar(mean_scores.index, mean_scores.values, yerr = [np.zeros_like(sem_scores), sem_scores],
                     fmt = "none", capsize = 2, alpha = 0.8, zorder = 0)

    y_max = int(facet.split("_")[1])
    axes[i].set_yticks(np.arange(0, y_max + 1))
    axes[i].tick_params(axis = "x", rotation = 45)
    
    for j, (mean, std, sem) in enumerate(zip(mean_scores.values, std_scores.values, sem_scores.values)):
        axes[i].text(j, mean + 0.025 * y_max, f"± {sem:.3f}", ha = "right", va = "bottom", fontsize=8, color="black", rotation = 90)
        axes[i].text(j, 0.1 * y_max, f"{mean:.1f}", ha = "center", va = "bottom",
                     color='white', fontsize=10, fontweight='bold')
        axes[i].text(j, 0.025 * y_max, f"{std:.1f}", ha = "center", va = "bottom",
                     color='black', fontsize=8, fontweight='bold')

        
    
    axes[i].set_title(f"Mean {facet} by country\nwith ±1 std. dev. (1 decimal)", pad = 20)
    axes[i].set_ylabel(f"Mean {facet}  score")


plt.tight_layout()
plt.show()

## Table 1.2 - Per country: Mean Facet Scores + SD (Ver. 2)

In [ ]:
fig, axes = plt.subplots(1, 1, figsize = [12, 6])

data_mean = euro.groupby("country_text")[facet_cols].mean().sort_index()
data_std = euro.groupby("country_text")[facet_cols].std().reindex(data_mean.index)
data_sem = euro.groupby("country_text")[facet_cols].sem().reindex(data_mean.index)

countries = data_mean.index
x = np.arange(1, len(data_mean.index) + 1)
width = 0.1

for i, facet in enumerate(facet_cols):
    mean_facet_scores = data_mean[facet]
    sem_facet_scores = data_sem[facet]

    offset = (- len(facet_cols)/ 2 + i) * width
    axes.bar(x + offset , mean_facet_scores, width, label = facet)
    axes.errorbar(x + offset , mean_facet_scores, yerr = [np.zeros_like(sem_facet_scores), sem_facet_scores],
                  fmt = "none", capsize = 2.5, alpha = 0.8, zorder = 0, ecolor = "grey")

axes.set_yticks(np.arange(6))
axes.set_xticks(x)
axes.set_xticklabels(countries, rotation = 45, ha = "center")

axes.set_ylabel("Mean score")
axes.set_title("Mean facet scores by country")
axes.legend(title="Facet", bbox_to_anchor=(1.0, 1))

plt.tight_layout()
plt.show()

---

---

## Table 1.3 - Per country: M proportion of maximum (Total Score) score + SD + Median

In [ ]:
fig, axes = plt.subplots(1, 1, figsize = [12, 6])

mean_scores = euro.groupby("country_text")["TotalScore_%"].mean().sort_index()
std_scores = euro.groupby("country_text")["TotalScore_%"].std().reindex(mean_scores.index)
sem_scores = euro.groupby("country_text")["TotalScore_%"].sem().reindex(mean_scores.index)
med_scores = euro.groupby("country_text")["TotalScore_%"].median().reindex(mean_scores.index)

axes.bar(mean_scores.index, mean_scores.values, color="skyblue", edgecolor='black')
axes.errorbar(mean_scores.index, mean_scores.values, yerr = [np.zeros_like(sem_scores), sem_scores],
                     fmt = "none", capsize = 2, alpha = 0.8, zorder = 0)

axes.set_yticks(np.arange(0, 101, step = 10))
axes.tick_params(axis = "x", rotation = 45)

for i, (mean, std, sem, med) in enumerate(zip(mean_scores.values, std_scores.values, sem_scores.values, med_scores.values)):
    axes.text(i, mean + 0.5, f"± {sem:.3f}", ha = "right", va = "bottom", fontsize=8, color="black", rotation = 90)
    axes.text(i, 20, f"Mean = {mean:.1f}", ha = "center", va = "center",
              color='white', fontsize=10, fontweight='bold')
    axes.text(i, 10, f"SD = {std:.1f}", ha = "center", va = "center",
              color='black', fontsize=8, fontweight='bold')
    axes.text(i, 5, f"Median = {med:.1f}", ha = "center", va = "center",
              color='black', fontsize=8)
    

axes.set_title("Mean % Total score by country\nwith 1 std. dev. & median", pad = 20)
axes.set_ylabel("Mean % Total score")

----------------------------------

## Table 1.4 - Per country: M proportion of Facet Scores + SD + Median (Ver. 1)

In [ ]:
fig, axes = plt.subplots(3, 2, figsize = [12, 18])
axes = axes.flatten()

for i, facet in enumerate(facet_percent_cols):
    mean_scores = euro.groupby("country_text")[facet].mean().sort_index()
    std_scores = euro.groupby("country_text")[facet].std().reindex(mean_scores.index)
    sem_scores = euro.groupby("country_text")[facet].sem().reindex(mean_scores.index)
    med_scores = euro.groupby("country_text")[facet].median().reindex(mean_scores.index)
    
    axes[i].bar(mean_scores.index, mean_scores.values, color="skyblue", edgecolor='black')
    axes[i].errorbar(mean_scores.index, mean_scores.values, yerr = [np.zeros_like(sem_scores), sem_scores],
                     fmt = "none", capsize = 2, alpha = 0.8, zorder = 0)

    y_max = 100
    axes[i].set_yticks(np.arange(0, y_max + 1, step = 10))
    axes[i].tick_params(axis = "x", rotation = 45)
    
    for j, (mean, std, sem, med) in enumerate(zip(mean_scores.values, std_scores.values, sem_scores.values, med_scores.values)):
        axes[i].text(j, mean + 0.025 * y_max, f"± {sem:.3f}", ha = "right", va = "bottom", fontsize=8, color="black", rotation = 90)
        axes[i].text(j, 0.1 * y_max, f"{mean:.1f}", ha = "center", va = "bottom",
                     color='white', fontsize=10, fontweight='bold')
        axes[i].text(j - 0.2, 0.03 * y_max, f"{std:.1f}", ha = "center", va = "bottom",
                     color='black', fontsize=8, fontweight='bold')
        axes[i].text(j + 0.2, 0.03 * y_max, f"{med:.1f}", ha = "center", va = "bottom",
                     color='black', fontsize=8)

        
    
    axes[i].set_title(f"Mean {facet} by country\nwith ±1 std. dev. (1 decimal)", pad = 20)
    axes[i].set_ylabel(f"Mean {facet}  score")


plt.tight_layout()
plt.show()

## Table 1.4 - Per country: M proportion of Facet Scores + SD + Median (Ver. 2)

In [ ]:
fig, axes = plt.subplots(1, 1, figsize = [12, 6])

data_mean = euro.groupby("country_text")[facet_percent_cols].mean().sort_index()
data_std = euro.groupby("country_text")[facet_percent_cols].std().reindex(data_mean.index)
data_sem = euro.groupby("country_text")[facet_percent_cols].sem().reindex(data_mean.index)

countries = data_mean.index
x = np.arange(1, len(data_mean.index) + 1)
width = 0.1

for i, facet in enumerate(facet_percent_cols):
    mean_facet_scores = data_mean[facet]
    sem_facet_scores = data_sem[facet]

    offset = (- len(facet_cols)/ 2 + i) * width
    axes.bar(x + offset , mean_facet_scores, width, label = facet)
    axes.errorbar(x + offset , mean_facet_scores, yerr = [np.zeros_like(sem_facet_scores), sem_facet_scores],
                  fmt = "none", capsize = 2.5, alpha = 0.8, zorder = 0, ecolor = "grey")

axes.set_yticks(np.arange(0, 101, step = 10))
axes.set_xticks(x)
axes.set_xticklabels(countries, rotation = 45, ha = "center")

axes.set_ylabel("Mean % score")
axes.set_title("Mean % facet scores by country")
axes.legend(title="Facet", bbox_to_anchor=(1.0, 1))

plt.tight_layout()
plt.show()

---

---

## Table 2.1 - Per country per income class: M proportion of maximum score+SD + Median facet scores (Ver. 1)

Note: Income Class has been filtered out of entries who opted out of disclosing their income

In [ ]:
income_filtered_euro = euro.loc[ ~(euro["income"] == -1)].copy()
income_filtered_euro.income.value_counts()

In [ ]:
fig, axes = plt.subplots(3, 2, figsize = [12, 18])
axes = axes.flatten()
income_classes = income_filtered_euro.income.value_counts().sort_index().index.values

for i, income_class in enumerate(income_classes):
    sample = income_filtered_euro.loc[ income_filtered_euro["income"] == income_class].copy()
    
    mean_scores = sample.groupby("country_text")["TotalScore_%"].mean().sort_index()
    std_scores = sample.groupby("country_text")["TotalScore_%"].std().reindex(mean_scores.index)
    sem_scores = sample.groupby("country_text")["TotalScore_%"].sem().reindex(mean_scores.index)
    med_scores = sample.groupby("country_text")["TotalScore_%"].median().reindex(mean_scores.index)
    
    axes[i].bar(mean_scores.index, mean_scores.values, color="skyblue", edgecolor='black')
    axes[i].errorbar(mean_scores.index, mean_scores.values, yerr = [np.zeros_like(sem_scores), sem_scores],
                     fmt = "none", capsize = 2, alpha = 0.8, zorder = 0)

    y_max = 100
    axes[i].set_yticks(np.arange(0, 101, step = 20))
    axes[i].tick_params(axis = "x", rotation = 45)
    
    for j, (mean, std, sem, med) in enumerate(zip(mean_scores.values, std_scores.values, sem_scores.values, med_scores.values)):
        axes[i].text(j, mean + 0.025 * y_max, f"± {sem:.3f}", ha = "right", va = "bottom", fontsize=8, color="black", rotation = 90)
        axes[i].text(j, 0.1 * y_max, f"{mean:.1f}", ha = "center", va = "bottom",
                     color='white', fontsize=10, fontweight='bold')
        axes[i].text(j - 0.2, 0.03 * y_max, f"{std:.1f}", ha = "center", va = "bottom",
                     color='black', fontsize=8, fontweight='bold')
        axes[i].text(j + 0.2, 0.03 * y_max, f"{med:.1f}", ha = "center", va = "bottom",
                     color='black', fontsize=8)
        
    
    axes[i].set_title(f"Mean % Total score by country\nfor income class :{income_class}", pad = 20)
    axes[i].set_ylabel("Mean % Total score")

plt.tight_layout()
plt.show()

---

## Table 2.1 - Per country per income class: M proportion of maximum score + SD + Median scores (Ver. 2)

In [ ]:
fig, axes = plt.subplots(1, 1, figsize = [12, 6])
income_classes = income_filtered_euro.income.value_counts().sort_index().index.values
sample = income_filtered_euro.copy().reset_index()


data_mean = sample.groupby(["country_text", "income"])["TotalScore_%"].mean().sort_index()
data_std = sample.groupby(["country_text", "income"])["TotalScore_%"].std().reindex(data_mean.index)
data_sem = sample.groupby(["country_text", "income"])["TotalScore_%"].sem().reindex(data_mean.index)

countries = sorted(sample["country_text"].unique())
x = np.arange(1, len(countries) + 1)
width = 0.1

for j, income_class in enumerate(income_classes):
    mean_facet_scores = data_mean.xs(key=income_class, level="income")
    sem_facet_scores = data_sem.xs(key=income_class, level="income")

    offset = (- len(income_classes)/ 2 + j) * width
    axes.bar(x + offset , mean_facet_scores, width, label = str(income_class))
    axes.errorbar(x + offset , mean_facet_scores, yerr = [np.zeros_like(sem_facet_scores), sem_facet_scores],
                  fmt = "none", capsize = 2.5, alpha = 0.8, zorder = 0, ecolor = "grey")


axes.set_yticks(np.arange(0, 101, step = 10))
axes.set_xticks(x)
axes.set_xticklabels(countries, rotation = 45, ha = "center")

axes.set_ylabel(f"Mean score %")
axes.set_title(f"Mean Total score % by country by income class")
axes.legend(title="Income class", bbox_to_anchor=(1.0, 1))

plt.tight_layout()
plt.show()

---

---

## Table 2.2 - Per country per income class: M proportion of facet score  +SD + Median

In [ ]:
fig, axes = plt.subplots(6, 1, figsize = [12, 6*6])

axes = axes.flatten()
income_classes = income_filtered_euro.income.value_counts().sort_index().index.values

for i, facet in enumerate(facet_percent_cols):

    sample = income_filtered_euro.loc[ :, [facet] + ["country_text", "income"]].copy().reset_index()
    
    data_mean = sample.groupby(["country_text", "income"])[facet].mean().sort_index()
    data_std = sample.groupby(["country_text", "income"])[facet].std().reindex(data_mean.index)
    data_sem = sample.groupby(["country_text", "income"])[facet].sem().reindex(data_mean.index)
    
    countries = sorted(sample["country_text"].unique())
    x = np.arange(1, len(countries) + 1)
    width = 0.1
    
    for j, income_class in enumerate(income_classes):
        mean_facet_scores = data_mean.xs(key=income_class, level="income")
        sem_facet_scores = data_sem.xs(key=income_class, level="income")
    
        offset = (- len(income_classes)/ 2 + j) * width
        axes[i].bar(x + offset , mean_facet_scores, width, label = str(income_class))
        axes[i].errorbar(x + offset , mean_facet_scores, yerr = [np.zeros_like(sem_facet_scores), sem_facet_scores],
                      fmt = "none", capsize = 2.5, alpha = 0.8, zorder = 0, ecolor = "grey")

    
    axes[i].set_yticks(np.arange(0, 101, step = 10))
    axes[i].set_xticks(x)
    axes[i].set_xticklabels(countries, rotation = 45, ha = "center")
    
    axes[i].set_ylabel(f"{facet} score")
    axes[i].set_title(f"{facet} by country")
    axes[i].legend(title="Income class", bbox_to_anchor=(1.0, 1))

plt.tight_layout()
plt.show()

---

---

## Table 3.1: (Countries pooled): Relationship to total sum score and controlling for education and age using income

In [ ]:
income_filtered_euro = euro.loc[ ~(euro["income"] == -1)].copy()

risklit_quartile = pd.qcut(income_filtered_euro["TotalScore_19"],q = 4, labels = False ) + 1
income_filtered_euro["risklit_quartile"] = risklit_quartile.copy()

data = income_filtered_euro.copy()

# Age group 2 = 18 to 35 y/o
# Age group 3 = 36 to 55 y/o
# Age group 4 = 56 to 75 y/o 

age_rec = [0] + sorted(data["age_rec"].unique())
age_dict = {0:"ALL Age", 2:"Only 18-35",
            3:"Only 36-55", 4:"Only 56+"}

In [ ]:
# # fig, axes = plt.subplots(3, 1, figsize = [12, 4*6])
# # axes = axes.flatten()

# for i, age_class in enumerate(age_rec):
#     if age_class == 0:
#         sample = data.copy()
#     else:
#         sample = data.loc[ data["age_rec"] == age_class].copy()
#     sample_ready = sample.groupby("risklit_quartile")["income"].value_counts().to_frame().sort_index()
#     sample_ready = sample_ready.unstack(level = "income")
#     sample_ready.columns = sample_ready.columns.droplevel(0)
#     sample_ready.plot(kind='bar', stacked=True)

#     plt.ylabel("count each risk literacy quartile")
#     plt.xlabel("Risk quartile")
#     plt.title(f"Stacked bar chart: {age_dict[age_class]}")
#     plt.legend(title="Income class", bbox_to_anchor=(1, 1))
    
# plt.show()

In [ ]:
# fig, axes = plt.subplots(3, 1, figsize = [12, 4*6])
# axes = axes.flatten()

for i, age_class in enumerate(age_rec):
    if age_class == 0:
        sample = data.copy()
    else:
        sample = data.loc[ data["age_rec"] == age_class].copy()
    sample_ready = sample.groupby("risklit_quartile")["income"].value_counts().to_frame().sort_index()
    sample_ready = sample_ready.unstack(level = "income")
    sample_ready.columns = sample_ready.columns.droplevel(0)
    sample_ready = sample_ready.div(sample_ready.sum(axis = 1), axis = 0)*100
    sample_ready.plot(kind='bar', stacked=True)

    plt.ylabel("% within each risk literacy quartile")
    plt.title(f"Normalised stacked bar chart: {age_dict[age_class]}")
    plt.legend(title="Income class", bbox_to_anchor=(1, 1))
    
plt.show()

---

---

---

---

## Table 4.1 - Per country per wealth quartile: M proportion of maximum score + SD + Median scores (Ver. 1)

Note: Wealth Class has been filtered out of entries who opted out of disclosing their income, and a quartile on the resulting data has been created

In [ ]:
wealth_filtered_euro = euro.loc[ ~(euro["wealth"] == -1)].copy().reset_index()
wealth_quartile = pd.qcut(wealth_filtered_euro["wealth"],q = 4, labels = False, duplicates = "raise") + 1
wealth_filtered_euro["wealth_quartile"] = wealth_quartile.copy()

In [ ]:
fig, axes = plt.subplots(2, 2, figsize = [12, 6*2])
axes = axes.flatten()
wealth_quartiles = sorted(wealth_filtered_euro["wealth_quartile"].unique())

for i, wealth_quartile in enumerate(wealth_quartiles):
    sample = wealth_filtered_euro.loc[ wealth_filtered_euro["wealth_quartile"] == wealth_quartile].copy()
    
    mean_scores = sample.groupby("country_text")["TotalScore_%"].mean().sort_index()
    std_scores = sample.groupby("country_text")["TotalScore_%"].std().reindex(mean_scores.index)
    sem_scores = sample.groupby("country_text")["TotalScore_%"].sem().reindex(mean_scores.index)
    med_scores = sample.groupby("country_text")["TotalScore_%"].median().reindex(mean_scores.index)
    
    axes[i].bar(mean_scores.index, mean_scores.values, color="skyblue", edgecolor='black')
    axes[i].errorbar(mean_scores.index, mean_scores.values, yerr = [np.zeros_like(sem_scores), sem_scores],
                     fmt = "none", capsize = 2, alpha = 0.8, zorder = 0)

    y_max = 100
    axes[i].set_yticks(np.arange(0, 101, step = 20))
    axes[i].tick_params(axis = "x", rotation = 45)
    
    for j, (mean, std, sem, med) in enumerate(zip(mean_scores.values, std_scores.values, sem_scores.values, med_scores.values)):
        axes[i].text(j, mean + 0.025 * y_max, f"± {sem:.3f}", ha = "right", va = "bottom", fontsize=8, color="black", rotation = 90)
        axes[i].text(j, 0.1 * y_max, f"{mean:.1f}", ha = "center", va = "bottom",
                     color='white', fontsize=10, fontweight='bold')
        axes[i].text(j - 0.2, 0.03 * y_max, f"{std:.1f}", ha = "center", va = "bottom",
                     color='black', fontsize=8, fontweight='bold')
        axes[i].text(j + 0.2, 0.03 * y_max, f"{med:.1f}", ha = "center", va = "bottom",
                     color='black', fontsize=8)
        
    
    axes[i].set_title(f"Mean % Total score by country\nfor wealth quartile : Q{wealth_quartile}", pad = 20)
    axes[i].set_ylabel("Mean % Total score")

plt.tight_layout()
plt.show()

---

## Table 4.1 - Per country per wealth quartile: M proportion of maximum score + SD + Median scores (Ver. 2)

In [ ]:
fig, axes = plt.subplots(1, 1, figsize = [12, 6])
sample = wealth_filtered_euro.copy()
wealth_quartiles = sorted(wealth_filtered_euro["wealth_quartile"].unique())


data_mean = sample.groupby(["country_text", "wealth_quartile"])["TotalScore_%"].mean().sort_index()
data_std = sample.groupby(["country_text", "wealth_quartile"])["TotalScore_%"].std().reindex(data_mean.index)
data_sem = sample.groupby(["country_text", "wealth_quartile"])["TotalScore_%"].sem().reindex(data_mean.index)

countries = sorted(sample["country_text"].unique())
x = np.arange(1, len(countries) + 1)
width = 0.1

for j, wealth_quartile in enumerate(wealth_quartiles):
    mean_facet_scores = data_mean.xs(key=wealth_quartile, level="wealth_quartile")
    sem_facet_scores = data_sem.xs(key=wealth_quartile, level="wealth_quartile")

    offset = (- len(wealth_quartiles)/ 2 + j) * width
    axes.bar(x + offset , mean_facet_scores, width, label = str(wealth_quartile))
    axes.errorbar(x + offset , mean_facet_scores, yerr = [np.zeros_like(sem_facet_scores), sem_facet_scores],
                  fmt = "none", capsize = 2.5, alpha = 0.8, zorder = 0, ecolor = "grey")


axes.set_yticks(np.arange(0, 101, step = 10))
axes.set_xticks(x)
axes.set_xticklabels(countries, rotation = 45, ha = "center")

axes.set_ylabel(f"Mean score %")
axes.set_title(f"Mean Total score % by country by wealth quartiles")
axes.legend(title="Wealth Quartiles", bbox_to_anchor=(1.0, 1))

plt.tight_layout()
plt.show()

---

## Table 4.2 - Per country per wealth quartile: M proportion of facet score + SD + Median

In [ ]:
fig, axes = plt.subplots(6, 1, figsize = [12, 6*6])

axes = axes.flatten()
wealth_quartiles = sorted(wealth_filtered_euro["wealth_quartile"].unique())

for i, facet in enumerate(facet_percent_cols):

    sample = wealth_filtered_euro.loc[ :, [facet] + ["country_text", "wealth_quartile"]].copy().reset_index()
    
    data_mean = sample.groupby(["country_text", "wealth_quartile"])[facet].mean().sort_index()
    data_std = sample.groupby(["country_text", "wealth_quartile"])[facet].std().reindex(data_mean.index)
    data_sem = sample.groupby(["country_text", "wealth_quartile"])[facet].sem().reindex(data_mean.index)
    
    countries = sorted(sample["country_text"].unique())
    x = np.arange(1, len(countries) + 1)
    width = 0.1
    
    for j, wealth_quartile in enumerate(wealth_quartiles):
        mean_facet_scores = data_mean.xs(key=wealth_quartile, level="wealth_quartile")
        sem_facet_scores = data_sem.xs(key=wealth_quartile, level="wealth_quartile")
    
        offset = (- len(wealth_quartiles)/ 2 + j) * width
        axes[i].bar(x + offset , mean_facet_scores, width, label = str(wealth_quartile))
        axes[i].errorbar(x + offset , mean_facet_scores, yerr = [np.zeros_like(sem_facet_scores), sem_facet_scores],
                      fmt = "none", capsize = 2.5, alpha = 0.8, zorder = 0, ecolor = "grey")

    
    axes[i].set_yticks(np.arange(0, 101, step = 10))
    axes[i].set_xticks(x)
    axes[i].set_xticklabels(countries, rotation = 45, ha = "center")
    
    axes[i].set_ylabel(f"{facet} score")
    axes[i].set_title(f"{facet} by country")
    axes[i].legend(title="Wealth Quartiles", bbox_to_anchor=(1.0, 1))

plt.tight_layout()
plt.show()

---

---

## Table 5.1: (Countries pooled): Relationship to total sum score and controlling for education and age using income

In [ ]:
wealth_filtered_euro = euro.loc[ ~(euro["wealth"] == -1)].copy().reset_index()
wealth_quartile = pd.qcut(wealth_filtered_euro["wealth"],q = 4, labels = False, duplicates = "raise") + 1
wealth_filtered_euro["wealth_quartile"] = wealth_quartile.copy()

risklit_quartile = pd.qcut(wealth_filtered_euro["TotalScore_19"],q = 4, labels = False ) + 1
wealth_filtered_euro["risklit_quartile"] = risklit_quartile.copy()

data = wealth_filtered_euro.copy()

# Age group 2 = 18 to 35 y/o
# Age group 3 = 36 to 55 y/o
# Age group 4 = 56 to 75 y/o 

age_rec = [0] + sorted(data["age_rec"].unique())
age_dict = {0:"ALL Age", 2:"Only 18-35",
            3:"Only 36-55", 4:"Only 56+"}

In [ ]:
# # fig, axes = plt.subplots(3, 1, figsize = [12, 4*6])
# # axes = axes.flatten()

# for i, age_class in enumerate(age_rec):
#     if age_class == 0:
#         sample = data.copy()
#     else:
#         sample = data.loc[ data["age_rec"] == age_class].copy()
#     sample_ready = sample.groupby("risklit_quartile")["wealth_quartile"].value_counts().to_frame().sort_index()
#     sample_ready = sample_ready.unstack(level = "wealth_quartile")
#     sample_ready.columns = sample_ready.columns.droplevel(0)
#     sample_ready.plot(kind='bar', stacked=True)

#     plt.ylabel("count each risk literacy quartile")
#     plt.xlabel("Risk quartile")
#     plt.title(f"Stacked bar chart: {age_dict[age_class]}")
#     plt.legend(title="Wealth quartiles", bbox_to_anchor=(1, 1))
    
# plt.show()

In [ ]:
# fig, axes = plt.subplots(3, 1, figsize = [12, 4*6])
# axes = axes.flatten()

for i, age_class in enumerate(age_rec):
    if age_class == 0:
        sample = data.copy()
    else:
        sample = data.loc[ data["age_rec"] == age_class].copy()
    sample_ready = sample.groupby("risklit_quartile")["wealth_quartile"].value_counts().to_frame().sort_index()
    sample_ready = sample_ready.unstack(level = "wealth_quartile")
    sample_ready.columns = sample_ready.columns.droplevel(0)
    sample_ready = sample_ready.div(sample_ready.sum(axis = 1), axis = 0)*100
    sample_ready.plot(kind='bar', stacked=True)

    plt.ylabel("% within each risk literacy quartile")
    plt.title(f"Normalised stacked bar chart: {age_dict[age_class]}")
    plt.legend(title="Wealth quartile", bbox_to_anchor=(1, 1))
    
plt.show()

---

---

---

---

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = income_filtered_euro.copy()

data["income_tercile"] = pd.Categorical(data["income_tercile"], ordered=True)

model = OrderedModel(data["income_tercile"], data["risklit_quartile"],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

## Ordinal Logistic Regression: Income Class by Risk literacy

### V1: Without any control variables

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = income_filtered_euro.copy()

data["income"] = pd.Categorical(data["income"], ordered=True)

model = OrderedModel(data["income"], data["risklit_quartile"],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

### V2: With control of education

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = income_filtered_euro.copy()

data["income"] = pd.Categorical(data["income"], ordered=True)

model = OrderedModel(data["income"], data[["risklit_quartile", "isced"]],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

### V3: With control of education and age

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = income_filtered_euro.copy()

data["income"] = pd.Categorical(data["income"], ordered=True)

model = OrderedModel(data["income"], data[["risklit_quartile", "isced", "age_rec"]],
                     distr='logit')

# Age group 2 = 18 to 35 y/o
# Age group 3 = 36 to 55 y/o
# Age group 4 = 56 to 75 y/o 

res = model.fit(method='bfgs')
print(res.summary())

---

## Ordinal Logistic Regression: Income Class by Risk literacy FOR 36-55 years old

### V1: without control of education

In [ ]:
data = income_filtered_euro.loc[income_filtered_euro["age_rec"] == 3].copy()

data["income"] = pd.Categorical(data["income"], ordered=True)

model = OrderedModel(data["income"], data["risklit_quartile"],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

### V2: with control of education

In [ ]:
data = income_filtered_euro.loc[income_filtered_euro["age_rec"] == 3].copy()

data["income"] = pd.Categorical(data["income"], ordered=True)

model = OrderedModel(data["income"], data[["risklit_quartile", "isced"]],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

---

---

---

## Ordinal Logistic Regression: Income Terciles by Risk literacy

### V1: Without any control variables

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = income_filtered_euro.copy()

data["income_tercile"] = pd.Categorical(data["income_tercile"], ordered=True)

model = OrderedModel(data["income_tercile"], data["risklit_quartile"],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

### V2: With control of education

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = income_filtered_euro.copy()

data["income_tercile"] = pd.Categorical(data["income_tercile"], ordered=True)

model = OrderedModel(data["income_tercile"], data[["risklit_quartile", "isced"]],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

### V3: With control of education and age

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = income_filtered_euro.copy()

data["income_tercile"] = pd.Categorical(data["income_tercile"], ordered=True)

model = OrderedModel(data["income_tercile"], data[["risklit_quartile", "isced", "age_rec"]],
                     distr='logit')

# Age group 2 = 18 to 35 y/o
# Age group 3 = 36 to 55 y/o
# Age group 4 = 56 to 75 y/o 

res = model.fit(method='bfgs')
print(res.summary())

---

## Ordinal Logistic Regression: Income Tercile by Risk literacy FOR 36-55 years old

### V1: without control of education

In [ ]:
data = income_filtered_euro.loc[income_filtered_euro["age_rec"] == 3].copy()

data["income_tercile"] = pd.Categorical(data["income_tercile"], ordered=True)

model = OrderedModel(data["income_tercile"], data["risklit_quartile"],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

### V2: with control of education

In [ ]:
data = income_filtered_euro.loc[income_filtered_euro["age_rec"] == 3].copy()

data["income_tercile"] = pd.Categorical(data["income_tercile"], ordered=True)

model = OrderedModel(data["income_tercile"], data[["risklit_quartile", "isced"]],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

---

---

---

## Ordinal Logistic Regression: Income Quartiles by Risk literacy

### V1: Without any control variables

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = income_filtered_euro.copy()

data["income_quartile"] = pd.Categorical(data["income_quartile"], ordered=True)

model = OrderedModel(data["income_quartile"], data["risklit_quartile"],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

### V2: With control of education

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = income_filtered_euro.copy()

data["income_quartile"] = pd.Categorical(data["income_quartile"], ordered=True)

model = OrderedModel(data["income_quartile"], data[["risklit_quartile", "isced"]],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

### V3: With control of education and age

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = income_filtered_euro.copy()

data["income_quartile"] = pd.Categorical(data["income_quartile"], ordered=True)

model = OrderedModel(data["income_quartile"], data[["risklit_quartile", "isced", "age_rec"]],
                     distr='logit')

# Age group 2 = 18 to 35 y/o
# Age group 3 = 36 to 55 y/o
# Age group 4 = 56 to 75 y/o 

res = model.fit(method='bfgs')
print(res.summary())

---

## Ordinal Logistic Regression: Income Quartiles by Risk literacy FOR 36-55 years old

### V1: without control of education

In [ ]:
data = income_filtered_euro.loc[income_filtered_euro["age_rec"] == 3].copy()

data["income_quartile"] = pd.Categorical(data["income_quartile"], ordered=True)

model = OrderedModel(data["income_quartile"], data["risklit_quartile"],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

### V2: with control of education

In [ ]:
data = income_filtered_euro.loc[income_filtered_euro["age_rec"] == 3].copy()

data["income_quartile"] = pd.Categorical(data["income_quartile"], ordered=True)

model = OrderedModel(data["income_quartile"], data[["risklit_quartile", "isced"]],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

---

---

---

## Ordinal Logistic Regression: Wealth Quartiles by Risk literacy

### V1: Without any control variables

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = wealth_filtered_euro.copy()

data["wealth_quartile"] = pd.Categorical(data["wealth_quartile"], ordered=True)

model = OrderedModel(data["wealth_quartile"], data["risklit_quartile"],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

### V2: With control of education

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = wealth_filtered_euro.copy()

data["wealth_quartile"] = pd.Categorical(data["wealth_quartile"], ordered=True)

model = OrderedModel(data["wealth_quartile"], data[["risklit_quartile", "isced"]],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

### V3: With control of education and age

In [ ]:
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

data = wealth_filtered_euro.copy()

data["wealth_quartile"] = pd.Categorical(data["wealth_quartile"], ordered=True)

model = OrderedModel(data["wealth_quartile"], data[["risklit_quartile", "isced", "age_rec"]],
                     distr='logit')

# Age group 2 = 18 to 35 y/o
# Age group 3 = 36 to 55 y/o
# Age group 4 = 56 to 75 y/o 

res = model.fit(method='bfgs')
print(res.summary())

---

## Ordinal Logistic Regression: Wealth Quartiles by Risk literacy FOR 36-55 years old

### V1: without control of education

In [ ]:
data = wealth_filtered_euro.loc[wealth_filtered_euro["age_rec"] == 3].copy()

data["wealth_quartile"] = pd.Categorical(data["wealth_quartile"], ordered=True)

model = OrderedModel(data["wealth_quartile"], data["risklit_quartile"],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

### V2: with control of education

In [ ]:
data = wealth_filtered_euro.loc[wealth_filtered_euro["age_rec"] == 3].copy()

data["wealth_quartile"] = pd.Categorical(data["wealth_quartile"], ordered=True)

model = OrderedModel(data["wealth_quartile"], data[["risklit_quartile", "isced"]],
                     distr='logit')

res = model.fit(method='bfgs')
print(res.summary())

In [ ]:
aa

## Table Output

In [ ]:

def regression_output(data: pd.DataFrame, regression_type: str, dependent_variable: str, independent_variable: str,
                      control_variables: list, depvar_absval: bool = False) -> pd.DataFrame :
    
    country = data["country_text"].value_counts().index.values
    if len(country) == 1:
        country = country[0]
    else:
        country = "Europe"
    
    if depvar_absval == True:
        data[dependent_variable] = data[dependent_variable].abs().copy()

    if regression_type == "OLS":

        model = sm.OLS(data[dependent_variable],
                       sm.add_constant(data[[independent_variable] + control_variables]))
        res = model.fit()
    
    elif regression_type == "OrderedModel":

        data[dependent_variable] = pd.Categorical(data[dependent_variable], ordered=True)

        model = OrderedModel(data[dependent_variable],
                             data[[independent_variable] + control_variables], distr='logit')
        res = model.fit(method='bfgs')

    else:
        raise ValueError("Unsupported regression_type. Use 'OLS' or 'OrderedModel'.")
    
    def format_coefficient(coef, pval):
        if pval < 0.01:
            stars = "***"
        elif pval < 0.05:
            stars = "**"
        elif pval < 0.10:
            stars = "*"
        else:
            stars = ""
        return f"{coef:.3f}{stars}"
    
    def format_p_value(pval):
        return f'="({pval:.3f})"'
    
    # output = pd.DatFrame(index = ["risklit_quartile", "isced", "age_rec", "FinancialLiteracy_%", "CRTScore_%"])

    rows = []
    for var, coeff, pval in zip(res.params.index, res.params, res.pvalues):
        rows.append([var, str(format_coefficient(coeff, pval))])
        rows.append(["", str(format_p_value(pval))])
    
    output = pd.DataFrame(data = rows, columns = [",".join([regression_type, country]), dependent_variable])
    return output

In [ ]:
euro

In [ ]:
import csv
country_codes = euro["country"].value_counts().index.values

csv_output = []
for country in country_codes:
    data = euro.loc[(euro["country"] == country) & (euro["income"] != -1)].copy()
    data["income_quartile"] = pd.qcut(data["income"], q = 4, labels = False, duplicates = "raise") + 1
    data["risklit_quartile"] = pd.qcut(data["TotalScore_%"], q = 4, labels = False, duplicates = "raise") + 1

    output = pd.concat([ regression_output(data = data, regression_type = "OrderedModel", dependent_variable = "income_quartile",
                                independent_variable = "risklit_quartile", control_variables = ["isced"],
                                depvar_absval = False),
                regression_output(data = data, regression_type = "OrderedModel", dependent_variable = "income_quartile",
                                independent_variable = "risklit_quartile", control_variables = ["isced", "age_rec"],
                                depvar_absval = False)],
                                axis = 1).replace({pd.NA:""})
    csv_output.append(output)

pd.concat(csv_output, axis = 1)

In [ ]:
import csv
country_codes = euro["country"].value_counts().index.values

csv_output = []
for country in country_codes:
    data = euro.loc[(euro["country"] == country) & (euro["wealth"] != -1)].copy()
    data["wealth_quartile"] = pd.qcut(data["wealth"], q = 4, labels = False, duplicates = "raise") + 1
    data["risklit_quartile"] = pd.qcut(data["TotalScore_%"], q = 4, labels = False, duplicates = "raise") + 1

    output = pd.concat([ regression_output(data = data, regression_type = "OrderedModel", dependent_variable = "wealth_quartile",
                                independent_variable = "risklit_quartile", control_variables = ["isced"],
                                depvar_absval = False),
                regression_output(data = data, regression_type = "OrderedModel", dependent_variable = "wealth_quartile",
                                independent_variable = "risklit_quartile", control_variables = ["isced", "age_rec"],
                                depvar_absval = False)],
                                axis = 1).replace({pd.NA:""})
    csv_output.append(output)

pd.concat(csv_output, axis = 1)